/*Main CSS*/

/* #Basic Styles
================================================== */
/*body {
	font-size: 13px;
}
*/
/*Header
==================================================*/

#navigation ul li a {
/*	font-family: Helvetica;*/
	font-size: 14px;
}

#layout_logo{
	width: 40% !important;
	height: 40% !important;
}


/*Slider
==================================================*/
div.flexslider img{
	float: right;
	width: 40% !important;
	height: auto !important;
	padding-top: 2%;
}


