{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">


</div>
<!-- Page Title End -->

<!-- 960 Container -->
<div class="container">

	<!-- Standard Structure -->
	<div class="eleven columns">
		<h4 class="headline">Our Approach</h4>
		<p>We are passionate about solving problems for clients and customers. Whatever the problem is, we want to provide solutions through services and products that will help our customers make better decisions.</p>
		<p>Wiley & Warrick provides solutions through client collaboration and making sure we are communicating regularly and effectively on what we are doing and why.</p>
		<p>Our vision includes improving the software engineering industry through community involvement and supporting efforts to counteract the expanding gap in software engineering resources availabe vs. those needed.</p>
	</div>
	
	<div class="five columns">
<!-- 		<h4 class="headline">Careers</h4> -->
		<p>
		
		<!-- Large Notice -->
<!-- 		<div class="large-notice">
			<h2>We're Hiring</h2>
			<p>We're offering great oppurtunites for Project & Marketing Manager.</p>
			<a href="#" class="button medium yellow">Apply</a>
		</div> -->
		</p>
	</div>


	<!-- 960 Container Start -->
<div class="container">
	
	<!-- Icon Box Start -->
	<div class="features">
		{% include 'service_summary_partial.html' %}
	</div>
	<!-- Icon Box End -->
	
	<div class="clearfix"></div>
	
	<!--Latest From Blog -->
	<div class="twelve columns">
		<h4 class="headline">Latest Projects</h4>

	
		<!-- 1/4 Column -->
		<div class="four columns alpha">
				<div class="item-img"><a href="blog_post.html"><img src="./static/images/portfolio_images/portfolio_3_07.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Spaghetti Western</a> <span>June 25, 2012 / 12 Comments</span></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>
	
		<!-- 1/4 Column -->
		<div class="four columns">
				<div class="item-img"><a href="blog_post.html"><img src="./static/images/portfolio_images/portfolio_3_03.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Monster Calendar</a> <span>June 22, 2012 / 24 Comments</span></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>

		<!-- 1/4 Column -->
		<div class="four columns omega">
				<div class="item-img"><a href="blog_post.html"><img src="./static/images/portfolio_images/portfolio_3_05.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Prime Art League</a> <span>June 21, 2012 / 8 Comments</span></h5>
					<p>Gravida sit amet ligula eget conseact etur lectu aecenas hendrerit bibenea.</p>
				</div>
		</div>

	</div>

	<!-- Testimonials -->
	<div class="four columns">
		<h4 class="headline">Testimonials</h4>
		
			<!-- Testimonials Carousel -->
			<div class="testimonials-carousel">
				<ul class="carousel">
				
					<li class="testimonial">
						<div class="testimonials">Posuere erat a ante venenatis dapibus posuere velit aliquet. Duis llis, est non coeammodo luctus, nisi erat porttitor ligula, egeteas laciniato odiomo sem.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Michael, <span>Flash Developer</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Integer eu libero sit amet nisl vestibulum semper. Fusce nec porttitor massa. In nec neque elit. Curabitur malesuada ligula vitae purus ornare onec etea magna diam varius.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">John, <span>Web Developer</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Cras sed odio est, sit amet porttitor elit. Vestibulum elementum erat vitae ante venenatis cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Peter, <span>Project Manager</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Elementum erat vitae ante venenatis dapibus. Maecenas cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Kathy, <span>Art Director</span></div>
					</li>
					
				</ul>
			</div>
			
	</div>
	
	<div class="clearfix"></div>
	<div class="sixteen columns">
		{% include 'call_action_partial.html' %}
	</div>
	<!-- Recent Work End -->



</div>
<!-- 960 Container End -->

	<!-- Standard Structure End -->
	
	
<!-- 	<div class="sixteen columns">
		<h4 class="headline">Meet the Team</h4>
	</div>
 -->	
	<!-- About -->
<!-- 	<div class="four columns">
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>Jane Smith</h5> <span>Chief Executive Officer / CEO</span></div>
		<div class="team-about"><p>Consectetur dolor ipsum quiam dolor adipisci velit, sed quia noneas numqua mode tempora incidunt lorem ipsum.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
 -->	
	
	<!-- About -->
<!-- 	<div class="four columns">
		<div class="clearfix"></div>
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>Michael Smith</h5> <span>Project Manager</span></div>
		<div class="team-about"><p>Maecenas varius rutrum quam eget condimentum. Aenean at lorem vel est posuere feugiat suscipit a lacus.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
 -->	
	
	<!-- About -->
<!-- 	<div class="four columns">
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>John Doe</h5> <span>Web Designer</span></div>
		<div class="team-about"><p>Euismod eget pellentesque lorem sed, imperdiet et arce curabitur tempor urna nulla convallis faucibus.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div> -->
	
	<!-- About -->
<!-- 	<div class="four columns">
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>Fred Wallet</h5> <span>WordPress Developer</span></div>
		<div class="team-about"><p>Tempus libero ellus viverra pharetra. Donec commodo gravida velit vel lorem ipsum dolor sit amet euismod.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
	 -->
	
</div>
<!-- 960 Container End -->


</div>
<!-- End 960 Container -->

{% endblock %}