{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">


</div>
<!-- Page Title End -->

<!-- 960 Container -->
<div class="container">

	<!-- Standard Structure -->
	<div class="twelve columns">
		<h4 class="headline">About Us</h4>
		<p>Wiley & Warrick provides data science and software engineering application development services. </p>
		<p>Our services and products include machine learning data science applications, responsive designed website applications. We can add features and functionality that improve application functionality and interaction (e.g. classification and recommendation algorithms, API integration like Twilio, multiple languages, Oauth, etc.). </p>
		<p> Additionally we can add back-end solutions to store and leverage data (e.g. Postgres, Redis, MySQL). We can setup website performance and support tools and provide support and coaching for project and operational needs to get the work done.</p> 
		<p>We've worked with start-ups to Fortune 500 companies spanning diverse industries (e.g. high-tech, retail, bio-tech, utility, etc.). We've worked under a range of budgets across various locals. Basically, we have extensive experience and access to industry resources that ensure well thought out and solid solutions.</p>
		<p>We are experts at solving problems and developing solutions especially when there is significant ambiguity. Check out our services section and contact us for more information.</p>

	</div>
	
	<div class="four columns">
<!-- 		<h4 class="headline">Careers</h4>
		<p>
		 -->
		<!-- Large Notice -->
<!-- 		<div class="large-notice">
			<h2>We're Hiring</h2>
			<p>We're offering great oppurtunites for Project & Marketing Manager.</p>
			<a href="#" class="button medium yellow">Apply</a>
		</div>
		</p> -->
		<h4 class="headline" >Vision</h4>
		<blockquote>
		<em><p>We believe in quality software solutions and providing solid communication through the development process.</p>
		<p>We are passionate about making web, data and software easy for those who don't have the experience and/or time to deep dive into the field. Communication is the linch-pin to successful client collaboration and making sure our customers get what they need and want.</p> 
		<p>Bottom line, we want to make it easier for you to get the work done and make better decisions.</p></em>
		</blockquote>

	</div>


	<!-- 960 Container Start -->
<div class="container">
	
	<!-- Icon Box Start -->
	<div class="features">
		{% include 'service_summary_partial.html' %}
	</div>
	<!-- Icon Box End -->
	
	
	<div class="clearfix"></div>
	<div class="sixteen columns">
		{% include 'call_action_partial.html' %}
	</div>
	<!-- Recent Work End -->

</div>
<!-- 960 Container End -->

	<!-- Standard Structure End -->
	
	
<!-- 	<div class="sixteen columns">
		<h4 class="headline">Meet the Team</h4>
	</div>
 -->	
	<!-- About -->
<!-- 	<div class="four columns">
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>Jane Smith</h5> <span>Chief Executive Officer / CEO</span></div>
		<div class="team-about"><p>Consectetur dolor ipsum quiam dolor adipisci velit, sed quia noneas numqua mode tempora incidunt lorem ipsum.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
 -->	
	
	<!-- About -->
<!-- 	<div class="four columns">
		<div class="clearfix"></div>
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>Michael Smith</h5> <span>Project Manager</span></div>
		<div class="team-about"><p>Maecenas varius rutrum quam eget condimentum. Aenean at lorem vel est posuere feugiat suscipit a lacus.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
 -->	
	
	<!-- About -->
<!-- 	<div class="four columns">
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>John Doe</h5> <span>Web Designer</span></div>
		<div class="team-about"><p>Euismod eget pellentesque lorem sed, imperdiet et arce curabitur tempor urna nulla convallis faucibus.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div> -->
	
	<!-- About -->
<!-- 	<div class="four columns">
		<img src="./static/images/team_img.png" alt=""/>
		<div class="team-name"><h5>Fred Wallet</h5> <span>WordPress Developer</span></div>
		<div class="team-about"><p>Tempus libero ellus viverra pharetra. Donec commodo gravida velit vel lorem ipsum dolor sit amet euismod.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
	 -->
	
</div>
<!-- 960 Container End -->


</div>
<!-- End 960 Container -->

{% endblock %}
