{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>About</h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->

<!-- 960 Container -->
<div class="container">

	<!-- Standard Structure -->
	<div class="eleven columns">
		<h4 class="headline">Our Approach</h4>
		<p>Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi.Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem mattis.</p>
		<p>Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum</p>
		<p>Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed tetur suscipit nunc et rutrum. </p>
	</div>
	
	<div class="five columns">
		<h4 class="headline">Careers</h4>
		<p>
		
		<!-- Large Notice -->
		<div class="large-notice">
			<h2>We're Hiring</h2>
			<p>We're offering great oppurtunites for Project & Marketing Manager.</p>
			<a href="#" class="button medium yellow">Apply</a>
		</div>
		</p>
	</div>
	<!-- Standard Structure End -->
	
	
	<div class="sixteen columns">
		<h4 class="headline">Meet the Team</h4>
	</div>
	
	<!-- About -->
	<div class="four columns">
		<img src="images/team_img.png" alt=""/>
		<div class="team-name"><h5>Jane Smith</h5> <span>Chief Executive Officer / CEO</span></div>
		<div class="team-about"><p>Consectetur dolor ipsum quiam dolor adipisci velit, sed quia noneas numqua mode tempora incidunt lorem ipsum.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
	
	
	<!-- About -->
	<div class="four columns">
		<div class="clearfix"></div>
		<img src="images/team_img.png" alt=""/>
		<div class="team-name"><h5>Michael Smith</h5> <span>Project Manager</span></div>
		<div class="team-about"><p>Maecenas varius rutrum quam eget condimentum. Aenean at lorem vel est posuere feugiat suscipit a lacus.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
	
	
	<!-- About -->
	<div class="four columns">
		<img src="images/team_img.png" alt=""/>
		<div class="team-name"><h5>John Doe</h5> <span>Web Designer</span></div>
		<div class="team-about"><p>Euismod eget pellentesque lorem sed, imperdiet et arce curabitur tempor urna nulla convallis faucibus.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
	
	<!-- About -->
	<div class="four columns">
		<img src="images/team_img.png" alt=""/>
		<div class="team-name"><h5>Fred Wallet</h5> <span>WordPress Developer</span></div>
		<div class="team-about"><p>Tempus libero ellus viverra pharetra. Donec commodo gravida velit vel lorem ipsum dolor sit amet euismod.</p></div>
		
		<ul class="social-links-about">
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="digg"><a href="#">Digg</a></li>
			<li class="vimeo"><a href="#">Vimeo</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="skype"><a href="#">Skype</a></li>
		</ul>
		
	</div>
	
	
</div>
<!-- 960 Container End -->


</div>
<!-- End 960 Container -->

{% endblock %}