{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>The Blog</h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->


<!-- 960 Container -->
<div class="container">

<!-- Blog Posts
================================================== -->
<div class="eleven columns">
	
	<!-- Post -->
	<div class="post">
		<div class="post-img"><a href="./static/images/blog_image_01_large.jpg" rel="imagebox" title="Sunrise"><img src="./static/images/blog_image_01.jpg" alt="" /><div class="overlay zoom"></div></a></div>
		
		<div class="alpha eleven columns">
			<div class="post-title"><h2><a href="#">This is a standard post format with preview picture</a></h2></div>
		</div>

		<div class="alpha omega three columns">
			<div class="post-date">June 25, 2012</div>
		</div>

		<div class="alpha eight columns post-content">
			<div class="post-desc">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<p>Donec quam felis, ultricies nec, pellentesque pretium quis, sem. Nulla consequat massa quis enim. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. Integer tincidunt vamus elementum semper nisi.</p>
				<a class="post-entry" href="#">Continue Reading</a>
			</div>
			<div class="post-meta">
				<span><a href="#">0 Comments</a></span>
				<span><a href="#">0 Likes</a></span>
				<span><a href="#">0 Tweets</a></span>
				<span>in <a href="#">Health</a>, <a href="#">News</a>, <a href="#">Sport</a></span>
			</div>
		</div>
		
	</div>

	<div class="clearfix"></div>
	
			<!-- Comments -->
			<div class="comments-sec">
				<h5>Comments <span>(4)</span></h5>
	
				<ol class="commentlist">
					<li>
						<div class="comments">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" width="50" height="50" border="0" /> </div>
							<div class="comment-des">
							<div class="comment-by"><strong>John Doe</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span> <span class="date">June 25, 2012</span></div>
							<p>Maecenas dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, vitae sollicitudin mauris. Aliquam quis tellus vel massa mattis ornare et eu felis. </p>
							</div>
						</div>
						 
						<ol class="childlist">
							<li>
							<div class="comments">
								<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" border="0" /> </div>
								<div class="comment-des">
								<div class="comment-by"><strong>Admin</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span> <span class="date">June 25, 2012</span></div>
								<p>Dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, vitae sollicitudin mauris. Aliquam quis tellus vel massa mattis.</p>
								</div>
							</div>
							</li>
						</ol>
						
					</li>
						
					<li>
						<div class="comments">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" border="0" /> </div>
							<div class="comment-des">
							<div class="comment-by"><strong>Kathy Brown</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span><span class="date">June 25, 2012</span></div>
							<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
							</div>
						</div>
					</li>
						
					<li>
						<div class="comments">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" border="0" /> </div>
							<div class="comment-des">
							<div class="comment-by"><strong>John Doe</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span><span class="date">June 25, 2012</span></div>
							<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, vitae sollicitudin mauris.</p>
							</div>
						 </div>
					</li>
				 </ol>
					 
			</div>

				
			<!-- Add Comment -->
			<div class="comments-sec">
				<h5>Leave a Comment</h5>
				<div class="form_comment">

					<label>Name:</label>
					<input type="text" size="40" maxlength="60" value="" />

					<label>Email: <span>*</span></label>
					<input type="text" size="40" maxlength="60" value="" />

					<label>Message: <span>*</span></label>
					<textarea></textarea>

				</div>
				<a href="#" class="button medium yellow">Add Comment</a>
			</div>

</div>

<!-- Sidebar
================================================== -->
<div class="five columns">
	<div class="blog-sidebar">
	
		<!-- Social Icons -->
		<div class="social-blog tooltips">
			<a href="#" rel="tooltip" title="Follow on Twitter" class="feed">
				<img src="./static/images/social_icons/twitter.png" alt="Twitter" />
				<p>8453 <br/><span>Followers</span></p>
			</a>
		</div>
		
		<div class="social-blog tooltips">
			<a href="#" rel="tooltip" title="Join RSS Feed" class="feed">
				<img src="./static/images/social_icons/rss.png" alt="RSS" />
				<p>2537 <br/><span>Subscribers</span></p>
			</a>
		</div>
		
		<div class="clearfix"></div>
	
		<!-- Search -->
		<div class="search">
			<input type="text" onblur="if(this.value=='')this.value='To search type and hit enter';" onfocus="if(this.value=='To search type and hit enter')this.value='';" value="To search type and hit enter" class="text"/>
		</div>
		
		<!-- Categories -->
		<div class="widget">
			<h5>Categories</h5>
			<ul class="categories">
				<li><a href="#">Photography</a></li>
				<li><a href="#">Motion Graphic</a></li>
				<li><a href="#">WordPress Tricks</a></li>
				<li><a href="#">Sentences</a></li>
				<li><a href="#">Video Gallery</a></li>
			</ul>
		</div>
		
		<!-- Tabs -->
		<div class="widget">
		
			<!-- Tabs Navigation -->
			<ul class="tabs-nav">
				<li class="active"><a href="#tab1">Popular</a></li>
				<li><a href="#tab2">Recent</a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">
				<div class="tab-content" id="tab1">
				
					<div class="latest-post-blog">
						<a href="#"><img src="./static/images/latest_widget_img_01.png" alt="" /></a>
						<p><a href="#">Maecenas metus lore nulla, facili, pretium lipsum sit.</a></p>
						<span>28 June 2012</span>
					</div>
					
					<div class="latest-post-blog">
						<a href="#"><img src="./static/images/latest_widget_img_02.png" alt="" /></a>
						<p><a href="#">Aean metus lore nulla, facili, pretium lipsum dolor.</a></p>
						<span>26 June 2012</span>
					</div>
					
					<div class="latest-post-blog">
						<a href="#"><img src="./static/images/latest_widget_img_03.png" alt="" /></a>
						<p><a href="#">Metus lore lipsum nullam, facili, pretiumea lipsum.</a></p>
						<span>22 June 2012</span>
					</div>
			
				</div>
					
				<div class="tab-content" id="tab2">
				
					<div class="latest-post-blog">
						<a href="#"><img src="./static/images/latest_widget_img_02.png" alt="" /></a>
						<p><a href="#">Aean metus lore nulla, facili, pretium lipsum dolor.</a></p>
						<span>26 June 2012</span>
					</div>
					
					<div class="latest-post-blog">
						<a href="#"><img src="./static/images/latest_widget_img_03.png" alt="" /></a>
						<p><a href="#">Metus lore lipsum nullam, facili, pretiumea lipsum.</a></p>
						<span>22 June 2012</span>
					</div>
					
					<div class="latest-post-blog">
						<a href="#"><img src="./static/images/latest_widget_img_01.png" alt="" /></a>
						<p><a href="#">Maecenas metus lore nulla, facili, pretium lipsum sit.</a></p>
						<span>28 June 2012</span>
					</div>
			
				</div>
			</div>
			
		</div>
		
		<!-- Twitter -->
		<div class="widget">
			<h5>Twitter</h5>
			<ul id="twitter-blog"></ul>
				<script type="text/javascript">
					jQuery(document).ready(function($){
					$.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=3'), function(tweets){
						$("#twitter-blog").html(tz_format_twitter(tweets));
					}); });
				</script>
			<div class="clearfix"></div>
		</div>
		
		<!-- Flickr -->
		<div class="widget">
			<h5>Flickr</h5>
				<div class="flickr-widget-blog">
					<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=36587311@N08"></script>
					<div class="clearfix"></div>
				</div>
		</div>

	</div>
</div>

</div>
<!-- End 960 Container -->

{% endblock %}