<!-- Call to Action Parital -->
	<!--Info Box Start -->
	<div class="sixteen columns">
		<div class="info-box">
			<div class="info-content">
				<h4>Initial Project Assessment</h4>
				<p>In need of project-specific services like dashboards, simple web application demos, added features or updates? In need of coaching on how to make your internet experience secure or augmenenting your development team? Contact us for an initial assessment.</p>
			</div>
			<a href="{{ url_for('contact')}}" class="button medium yellow" style="float: right;">Contact Us</a>
			<div class="clearfix"></div>
		</div>
	</div>
