{% extends "layout.html" %}

{% block body %}



<!--  960 Container Start -->
<div class="container">
	
	<!-- Contact Form -->
	<div class="eleven columns">
		<h4 class="headline">Contact for Questions</h4>
		

		<div class="success-message">
			<div class="notification success closeable">
				<p><span>Success!</span> Your message has been sent.</p>
			</div>
		</div>


		<div id="contact-form">
			<form method="post" action="contact.php">
				
				<div class="field">
					<label>Name:</label>
					<input type="text" name="name" class="text" />
				</div>
				
				<div class="field">
					<label>Email: <span>*</span></label>
					<input type="text" name="email" class="text" />
				</div>
				
				<div class="field">
					<label>Message: <span>*</span></label>
					<textarea name="message" class="text textarea" ></textarea>
				</div>
				
				<div class="field">
					<input type="button" id="send" value="Send Message"/>
					<div class="loading"></div>
				</div>
				
			</form>
		</div>
		

</div>
	
	<!-- Contact Details -->
	<div class="five columns">
		<div class="widget">
			<h5>Contact Details</h5>
			
			<ul class="contact-details" style="padding-top: 8px;">
				{% include 'contact_partial.html' %}
			</ul>

		</div>
	</div>

	<!-- Social Media -->
<!-- 	<div class="five columns">
		<div class="widget">
			<h5>Social Media</h5>
			<p>
			<div id="social" class="tooltips">
				<a href="#" rel="tooltip" title="Facebook"><img src="./static/images/social_icons/facebook.png" alt="Facebook" /></a>
				<a href="#" rel="tooltip" title="Flickr"><img src="./static/images/social_icons/flickr.png" alt="Flickr" /></a>
				<a href="#" rel="tooltip" title="LinkedIn"><img src="./static/images/social_icons/linkedin.png" alt="LinkedIn" /></a>
				<a href="#" rel="tooltip" title="Google Plus"><img src="./static/images/social_icons/googleplus.png" alt="Google Plus" /></a>
				<a href="#" rel="tooltip" title="Contact"><img src="./static/images/social_icons/mail.png" alt="Contact" /></a>
			</div>
			</p>
		</div>
	</div> -->

</div>
<!-- End 960 Container -->

{% endblock %}