{% extends "layout.html" %}

{% block body %}

<!-- Slider -->
<div id="slider">

	<!-- Flexslider Start-->
	<div class="flexslider" style="background: #fafafa;">
		<ul class="slides">
		
			<!-- Slide -->
			<li class="custom-slide" style="background: url(images/slider_bg_01.jpg)">
				<div class="container">
					<div class="sixteen columns">
						<img src="images/slider_img_02.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Powerful &amp; Flexible Premium <b><br/></b> Theme You’ve Been Waiting For</h2>
							<p>Phasellus - ut augue at sapien bibendum bibendum amet magna. Aenean condimentum, lacus sit amet luctus lobortis, enim tellus ultrices elit, amet consequat enim elit noneas.</p>
							<a href="shortcodes.html" class="button medium yellow">Read More</a>
						</div>
					</div>
				</div>
			</li>
			
			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="images/slider_img_01.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Unique Theme for Business, <b><br/></b> Agency or Creative Portfolios</h2>
							<p>Curabitur bibendum ultricies nisi id vestibulum. Duis ac lacus enim, et rutrum libero. In fringilla aliquet leo faucibus lobortis. Sed leo id quam ornare venenatis non a urna. </p>
							<a href="#" class="button medium yellow">Purchase Now</a>
						</div>
					</div>
				</div>
			</li>
					
			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="images/slider_img_03.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Incredible: Responsive Theme <b><br/></b> Perfect for Showing Your Products</h2>
							<p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque dolor.</p>
							<a href="single_project.html" class="button medium yellow">View Project</a>
						</div>
					</div>
				</div>
			</li>
				
		</ul>
	</div>
	<!-- Flexslider End-->
			
</div>
<!-- End Slider -->

<!-- 960 Container Start -->
<div class="container">


	<!--Recent Work -->
	<div class="sixteen columns">
		<h4 class="headline">Recent Work</h4>
	</div>
	
		<!-- 1/3 Column -->
		<div class="one-third column">
				<div class="item-img"><a href="images/portfolio_images/portfolio_3_01_large.jpg" rel="imagebox" title="SockMonkee"><img src="images/portfolio_images/portfolio_3_01.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">SockMonkee</a></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>
	
		<!-- 1/3 Column -->
		<div class="one-third column">
				<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_06.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Franky Fisticuffs</a></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>

		<!-- 1/3 Column -->
		<div class="one-third column">
				<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_04.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Package Project</a></h5>
					<p>Gravida sit amet ligula eget conseact etur lectu aecenas hendrerit bibenea.</p>
				</div>
		</div>

	<div class="clearfix"></div>

	<!-- Standard Structure -->
	<div class="two-thirds column">
		<h4 class="headline">Methodology</h4>
			<!-- Tabs Navigation -->
			<ul class="tabs-nav">
				<li class="active"><a href="#tab1"><i class="icon-exclamation-sign"></i> Flexible</a></li>
				<li><a href="#tab2"><i class="icon-file"></i> Why?</a></li>
				<li><a href="#tab3"><i class="icon-user"></i> Contact</a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">
				<div class="tab-content" id="tab1"><p>Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<ul class="check_list">
						<li>Quick and convenient Localization Support</li>
						<li>Flexible, Responsive Layout</li>
						<li>Compatible with Smartphones and Tablet PCs</li>
					</ul>
				</div>
				
				<div class="tab-content" id="tab2">
					<p>Morbi placerat convallis augue, sodales ultrices metus rutrum sed. Maecenas elementum, mauris a accumsan pellentesque, elit mi fermentum nulla, a consectetur nisi justo non leo. In ultrices porta elit, id accumsan nibh mattis at. Vestibulum sit amet est vitae diam varius cursus.</p>
					Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				
				<div class="tab-content" id="tab3">
		
					<p>Egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<ul class="contact-details">
						<li><i class="icon-map-marker"></i> <p>30 Your Street Name<br/>Los Angeles, CA 94108, USA</p></li>
						<li  style="margin: 0;"><i class="icon-envelope"></i><p>Email: <a href="#">contact@incredible.com</a></p></li>
					</ul>
				</div>
				
			</div>
			
	</div>
	
	<div class="one-third column">
		<h4 class="headline">Features</h4>
		
		<p>Phasellus congue risus volutpat ipsum eleifend lore dignissim. Integer non ligula magna, vel ultricies arcu. Aenean eget enim urna sed a magna purus.</p>
		
		<ul class="check_list">
			<li>Quick and convenient Localization Support</li>
			<li>Compatible with the latest WordPress Version</li>
			<li>Flexible, Responsive Layout</li>
			<li>Compatible with Major Browsers</li>
			<li>Attuned to Smartphones and Tablet PCs</li>
		</ul>

	</div>
	
	
	<!-- Our Clients -->
	<div class="sixteen columns">
		<h4 class="headline">Our Clients</h4>
	</div>
	
	<div class="sixteen columns">
		<ul class="client-logo">
			<li><img src="images/logo_01.png" alt=""/></li>
			<li><img src="images/logo_02.png" alt=""/></li>
			<li><img src="images/logo_03.png" alt=""/></li>
			<li><img src="images/logo_04.png" alt=""/></li>
			<li><img src="images/logo_05.png" alt=""/></li>
		</ul>
	</div>
	<!-- Our Clients End -->

</div>
<!-- 960 Container End -->


{% endblock %}