{% extends "layout.html" %}

{% block body %}

<!-- Slider -->
<div id="slider">

	<!-- Flexslider Start-->
	<div class="flexslider" style="background: #fafafa;">
		<ul class="slides">
		
			<!-- Slide -->
			<li class="custom-slide" style="background: url(./static/images/slider_bg_01.jpg)">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/wwwlogo3.png" alt="" style="float: right; width: 40%; height: 40%" />
						<div class="slider_description">
							<h2>Web Application</h2>
							<p>Seeking a quick turnaround on a web applicaiton prototype to help demo your project vision. Checkout services.</p>
							<a href="{{ url_for('portfolio_3')}}" class="button medium yellow">View Projects</a>
						</div>
					</div>
				</div>
			</li>
			
			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/slider_img_03.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Business Intelligence<b><br/></b> Dashboard Development</h2>
							<p>Need an easy, online report to pull and summarize multi-data sources, ask for more information.</p>
							<a href="{{ url_for('contact')}}" class="button medium yellow">Contact Us</a>
						</div>
					</div>
				</div>
			</li>

			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<!-- 					Image Copywrite Fabio Lanari -->
						<img src="./static/images/745px-https_security.jpg" alt="" style="float: right; width: 40%; height: 40%" />
						<div class="slider_description">
							<h2>Internet Security Guidance</h2>
							<p>Lost in the midst of all the terminology and knowing best practices to stay safe on the web. Contact us for support.</p>
							<a href="{{ url_for('portfolio_3')}}" class="button medium yellow">Read More</a>
						</div>
					</div>
				</div>
			</li>
					
				
		</ul>
	</div>
	<!-- Flexslider End-->
			
</div>
<!-- End Slider -->

<!-- 960 Container Start -->
<div class="container">
	
	<!-- Icon Box Start -->
	<div class="features">
		{% include 'service_summary_partial.html' %}
	</div>
	<!-- Icon Box End -->
	
	<div class="clearfix"></div>
	
	<!--Recent Work -->
	<div class="sixteen columns">
		<h4 class="headline">Recent Work</h4>
	</div>
	
	{% include 'recent_project_partial.html' %}
	
	<div class="clearfix"></div>
	
	{% include 'call_action_partial.html' %}

	<!-- Recent Work End -->



</div>
<!-- 960 Container End -->

{% endblock %}
