{% extends "layout.html" %}

{% block body %}

<!-- Slider -->
<div id="slider">

	<!-- Flexslider Start-->
	<div class="flexslider" style="background: #fafafa;">
		<ul class="slides">
		
			<!-- Slide -->
			<li class="custom-slide" style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/wileywarricklogo.png" alt=""  />
						<div class="slider_description">
							<h2>Websites & Applications</h2>
							<p>Seeking a responsive site for your company? In need of a <br>web application prototype to demo your project vision? Or looking to add <br>features and functionality?</p>
							<a href="{{ url_for('services')}}" class="button medium yellow">See Services</a>
						</div>
					</div>
				</div>
			</li>
			
			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/slider_img_03.png" alt="" style="width: 100%; height:100%;"/>
						<div class="slider_description">
							<h2>Data Science & Engineering<b><br/></b></h2>
							<p>Need help on how to handle the data you have and/or <br> the data you need for your application? Wanting a report/dashboard </br> that pulls from multiple online data sources?</p>
							<a href="{{ url_for('contact')}}" class="button medium yellow">Contact Us</a>
						</div>
					</div>
				</div>
			</li>

			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<!-- 					Image Copywrite Fabio Lanari -->
						<img src="./static/images/745px-https_security.jpg" alt=""/>
						<div class="slider_description">
							<h2>Technology & Project Coaching</h2>
							<p>Lost in the midst of all the technical jargan? Seeking guidance<br> on how to approach a project? </p>
							<a href="{{ url_for('services')}}#coaching" class="button medium yellow">Read More</a>
						</div>
					</div>
				</div>
			</li>
					
				
		</ul>
	</div>
	<!-- Flexslider End-->
			
</div>
<!-- End Slider -->

<!-- 960 Container Start -->
<div class="container">
	
	<!-- Icon Box Start -->
	<div class="features">
		{% include 'service_summary_partial.html' %}
	</div>
	<!-- Icon Box End -->
	
	<div class="clearfix"></div>
	
	<!--Recent Work -->
	{% include 'recent_project_partial.html' %}
	
	<div class="clearfix"></div>
	
	{% include 'call_action_partial.html' %}

	<!-- Recent Work End -->



</div>
<!-- 960 Container End -->

{% endblock %}
