{% extends "layout.html" %}

{% block body %}

<!-- Slider -->
<div id="slider">

	<!-- Flexslider Start-->
	<div class="flexslider" style="background: #fafafa;">
		<ul class="slides">
		
			<!-- Slide -->
			<li class="custom-slide" style="background: url(./static/images/slider_bg_01.jpg)">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/slider_img_02.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Powerful &amp; Flexible Premium <b><br/></b> Theme You’ve Been Waiting For</h2>
							<p>Phasellus - ut augue at sapien bibendum bibendum amet magna. Aenean condimentum, lacus sit amet luctus lobortis, enim tellus ultrices elit, amet consequat enim elit noneas.</p>
							<a href="shortcodes.html" class="button medium yellow">Read More</a>
						</div>
					</div>
				</div>
			</li>
			
			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/slider_img_01.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Unique Theme for Business, <b><br/></b> Agency or Creative Portfolios</h2>
							<p>Curabitur bibendum ultricies nisi id vestibulum. Duis ac lacus enim, et rutrum libero. In fringilla aliquet leo faucibus lobortis. Sed leo id quam ornare venenatis non a urna. </p>
							<a href="#" class="button medium yellow">Purchase Now</a>
						</div>
					</div>
				</div>
			</li>
					
			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/slider_img_03.png" alt="" style="float: right;" />
						<div class="slider_description">
							<h2>Incredible: Responsive Theme <b><br/></b> Perfect for Showing Your Products</h2>
							<p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque dolor.</p>
							<a href="single_project.html" class="button medium yellow">View Project</a>
						</div>
					</div>
				</div>
			</li>
				
		</ul>
	</div>
	<!-- Flexslider End-->
			
</div>
<!-- End Slider -->

<!-- 960 Container Start -->
<div class="container">
	
	<!-- Icon Box Start -->
	<div class="features">
	
		<!-- Icon Box Start -->
		<div class="one-third column">		
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_01.png" alt="" /></div>
				<div class="feature-description">
					<h4>Modern & Clean Design</h4>
					<p>Proin iaculis purus consequat sem cursus digni ssim. Donec porttitor entume suscipit. Aenean rhoncus posuere odio in tincidunt.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column">		
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_02.png" alt="" /></div>
				<div class="feature-description">
					<h4>Easy to Customize</h4>
					<p>Nam aliquam volutpat leo vel lorem bibendum. Nuncea elit purusa, tempus pulvinar rhoncus egesta vel nibh volutpat leo.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
		<!-- Icon Box Start -->
		<div class="one-third column">		
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_03.png" alt="" /></div>
				<div class="feature-description">
					<h4>Responsive Template</h4>
					<p>Fusce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna libero.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
	</div>
	<!-- Icon Box End -->
	
	<div class="clearfix"></div>
	
	<!--Recent Work -->
	<div class="sixteen columns">
		<h4 class="headline">Recent Work</h4>
	</div>
	
		<!-- 1/3 Column -->
		<div class="one-third column">
				<div class="item-img"><a href="./static/images/portfolio_images/portfolio_3_01_large.jpg" rel="imagebox" title="SockMonkee"><img src="./static/images/portfolio_images/portfolio_3_01.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">SockMonkee</a></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>
	
		<!-- 1/3 Column -->
		<div class="one-third column">
				<div class="item-img"><a href="single_project.html"><img src="./static/images/portfolio_images/portfolio_3_06.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Franky Fisticuffs</a></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>

		<!-- 1/3 Column -->
		<div class="one-third column">
				<div class="item-img"><a href="single_project.html"><img src="./static/images/portfolio_images/portfolio_3_04.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Package Project</a></h5>
					<p>Gravida sit amet ligula eget conseact etur lectu aecenas hendrerit bibenea.</p>
				</div>
		</div>

	<div class="clearfix"></div>
	
	<!--Latest From Blog -->
	<div class="twelve columns">
		<h4 class="headline">Latest From Blog</h4>

	
		<!-- 1/4 Column -->
		<div class="four columns alpha">
				<div class="item-img"><a href="blog_post.html"><img src="./static/images/portfolio_images/portfolio_3_07.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Spaghetti Western</a> <span>June 25, 2012 / 12 Comments</span></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>
	
		<!-- 1/4 Column -->
		<div class="four columns">
				<div class="item-img"><a href="blog_post.html"><img src="./static/images/portfolio_images/portfolio_3_03.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Monster Calendar</a> <span>June 22, 2012 / 24 Comments</span></h5>
					<p>Aenean sit amet ligula est, conseact etur lectus. Maecenas hendrerit, lorem.</p>
				</div>
		</div>

		<!-- 1/4 Column -->
		<div class="four columns omega">
				<div class="item-img"><a href="blog_post.html"><img src="./static/images/portfolio_images/portfolio_3_05.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="portfolio-item-meta">
					<h5><a href="single_project.html">Prime Art League</a> <span>June 21, 2012 / 8 Comments</span></h5>
					<p>Gravida sit amet ligula eget conseact etur lectu aecenas hendrerit bibenea.</p>
				</div>
		</div>

	</div>
	
	<!-- Testimonials -->
	<div class="four columns">
		<h4 class="headline">Testimonials</h4>
		
			<!-- Testimonials Carousel -->
			<div class="testimonials-carousel">
				<ul class="carousel">
				
					<li class="testimonial">
						<div class="testimonials">Posuere erat a ante venenatis dapibus posuere velit aliquet. Duis llis, est non coeammodo luctus, nisi erat porttitor ligula, egeteas laciniato odiomo sem.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Michael, <span>Flash Developer</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Integer eu libero sit amet nisl vestibulum semper. Fusce nec porttitor massa. In nec neque elit. Curabitur malesuada ligula vitae purus ornare onec etea magna diam varius.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">John, <span>Web Developer</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Cras sed odio est, sit amet porttitor elit. Vestibulum elementum erat vitae ante venenatis cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Peter, <span>Project Manager</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Elementum erat vitae ante venenatis dapibus. Maecenas cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Kathy, <span>Art Director</span></div>
					</li>
					
				</ul>
			</div>
			
	</div>

	<!-- Our Clients -->
	<div class="sixteen columns">
		<h4 class="headline">Our Clients</h4>
	</div>
	
	<div class="sixteen columns">
		<ul class="client-logo">
			<li><img src="./static/images/logo_01.png" alt=""/></li>
			<li><img src="./static/images/logo_02.png" alt=""/></li>
			<li><img src="./static/images/logo_03.png" alt=""/></li>
			<li><img src="./static/images/logo_04.png" alt=""/></li>
			<li><img src="./static/images/logo_05.png" alt=""/></li>
		</ul>
	</div>
	<!-- Our Clients End -->

</div>
<!-- 960 Container End -->

{% endblock %}