{% extends "layout.html" %}

{% block body %}

<!-- Slider -->
<div id="slider">

	<!-- Flexslider Start-->
	<div class="flexslider" style="background: #fafafa;">
		<ul class="slides">

			<!-- Slide -->
			<li style="background: #fafafa;">
				<div class="container">
					<div class="sixteen columns">
						<img src="./static/images/wileywarricklogo.png" alt=""  />
						<div class="slider_description">
							<h2>Data Science & Engineering<b><br/></b></h2>
							<p>Need help on how to handle the data you have and/or the data <br> you need for an application? </p>
							<a href="{{ url_for('contact')}}" class="button medium yellow">Contact Us</a>
						</div>
					</div>
				</div>
			</li>

				
		</ul>
	</div>
	<!-- Flexslider End-->
			
</div>
<!-- End Slider -->

<!-- 960 Container Start -->
<div class="container">
	
	<!-- Icon Box Start -->
	<div class="features">
		{% include 'service_summary_partial.html' %}
	</div>
	<!-- Icon Box End -->
	
	<div class="clearfix"></div>
	
	<!--Recent Work -->
	{% include 'recent_project_partial.html' %}
	
	<div class="clearfix"></div>
	

	<!-- Recent Work End -->



</div>
<!-- 960 Container End -->

{% endblock %}
