<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<!-- Basic Page Needs
 ================================================== -->
<meta charset="utf-8">
<title>Wiley & Warrick</title>

<!-- Mobile Specific
 ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
 ================================================== -->
<link rel="stylesheet" type="text/css"  href="/static/css/style.css">
<link rel="stylesheet" type="text/css"  href="/static/css/main.css">

<!-- Java Script
 ================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
<script src="/static/js/flexslider_slide.js"></script>
<script src="/static/js/jquery.isotope.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/ender.min.js"></script>
<script src="/static/js/selectnav.js"></script>
<script src="/static/js/imagebox.min.js"></script>
<script src="/static/js/carousel.js"></script>
<script src="/static/js/twitter.js"></script>
<script src="/static/js/tooltip.js"></script>
<script src="/static/js/popover.js"></script>
<script src="/static/js/effects.js"></script>
<!-- Favicon -->
<link rel="icon" type="image/ico" href="/static/images/tinyw.png"/>

<!-- Google Analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43685829-3', 'wileywarrick.com');
  ga('send', 'pageview');

</script>
</head>
<body>

<!-- Header -->
<div id="header">

	<!-- 960 Container Start -->
	<div class="container ie-dropdown-fix">
	
		<!-- Logo -->
		<div class="four columns">
			<a href="{{url_for('index')}}"><img src="/static/images/wileywarricklogo.png" id="layout_logo" alt="" /> </a>
		</div>
		
		<!-- Main Navigation Start -->
		<div class="twelve columns">
			<div id="navigation">
				<ul id="nav">
				
					<li><a href="{{url_for('about')}}">About</a>
					</li>
					
					<li><a href="{{url_for('services')}}">Services</a>
						<ul>
							<li><a href="{{ url_for('services')}}" id="software_nav">Software</a></li>
							<li><a href="{{ url_for('services')}}" id="software_nav">Business</a></li>
							<li><a href="{{ url_for('services')}}" id="software_nav">Coaching</a></li>
						</ul>
					</li>					
					<li><a href="{{ url_for('portfolio') }}">Portfolio</a>
						<ul>
							<li><a href="{{ url_for('portfolio') }}" >Portfolio</a></li>
							<li><a href="http://github.com/nyghtowl" target="_blank">Github</a></li>
						</ul>
					</li>
					<li><a href="http://nyghtowl.io" target="_blank">Blog</a></li>
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- Main Navigation End -->
		
	</div>
	<!-- 960 Container End -->

</div>
<!-- End Header -->

<!--  Page Title -->
<div id="page-title">
	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<a href="{{url_for('index')}}"><h1>Wiley & Warrick</h1></a>
		</div>
	</div>
	<!-- 960 Container End -->

</div>
<!-- Page Title End -->

{% block body %} {% endblock %}


<!-- Footer Start -->
<div id="footer">

	<!-- 960 Container -->
	<div class="container">
		
		<!-- About -->
		<div class="four columns">
			<h5>About Us</h5>
			<p>Wiley & Warrick provides software engineering and business consulting services and products.</p>
			<p>We are passionate about providing quality services and products to help you get things done and make better decisions.</p>
		</div>
		
		<!-- Useful Links -->
		<div class="four columns">
			<h5>Useful Links</h5>
			<ul class="links-list">
				<li><a href="{{url_for('index')}}">Home</a></li>
				<li><a href="{{url_for('services')}}">Services</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>

		<!-- Contact -->
		<div class="four columns">
			<h5 id="contact_info">Contact Us</h5>
			<ul class="contact-details">
				{% include 'contact_partial.html' %}
			</ul>
		</div>

		
		<!-- Latest From Blog -->
<!-- 		<div class="four columns">
			<h5>Latest From The Blog</h5>
			
			<div class="latest-post">
				<a href="#"><img src="./static/images/latest_widget_img_01.png" alt="" /></a>
				<p><a href="#">Maecenas metus lore nulla, facili, pretium lipsum sit.</a></p>
				<span>28 June 2012</span>
			</div>
			
			<div class="latest-post">
				<a href="#"><img src="./static/images/latest_widget_img_02.png" alt="" /></a>
				<p><a href="#">Aean metus lore nulla, facili, pretium lipsum dolor.</a></p>
				<span>26 June 2012</span>
			</div>
			
			<div class="latest-post">
				<a href="#"><img src="./static/images/latest_widget_img_03.png" alt="" /></a>
				<p><a href="#">Metus lore lipsum nullam, facili, pretiumea lipsum.</a></p>
				<span>22 June 2012</span>
			</div>
			
		</div> -->
		
		<!-- Twitter -->
		<div class="four columns">
<!-- 			<h5>Latest Tweets</h5> -->
			<ul id="twitter"></ul>
				<script type="text/javascript">
					// jQuery(document).ready(function($){
					// $.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
					// 	$("#twitter").html(tz_format_twitter(tweets));
					// }); });
				</script>
			<div class="clearfix"></div>
		</div>

	</div>
	<!-- 960 Container End -->

</div>
<!-- Footer End -->

<!--  Footer Copyright-->
<div id="footer-bottom">

	<!-- 960 Container -->
	<div class="container">
				
		<div class="twelve columns">
			<div id="copyright">© Copyright 2013 by <span>Wiley & Warrick</span>. All Rights Reserved.</div>
		</div>
				
		<div class="four columns">
			<div id="copyright">
				Logo courtesy of Erin O'Connell
			</div>
<!-- 				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="digg"><a href="#">Digg</a></li>
				<li class="vimeo"><a href="#">Vimeo</a></li>
				<li class="youtube"><a href="#">YouTube</a></li>
				<li class="skype"><a href="#">Skype</a></li> -->
<!-- 				<li class="twitter"><a href="#">Twitter</a></li> -->
		</div>

	</div>
	<!-- End 960 Container -->
	
</div>
<!--  Footer Copyright End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

<!-- Imagebox Build -->
<script src="./static/js/imagebox.build.js"></script>

</body>
</html>