{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>Portfolio <span>/ 3 Columns</span></h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->


	<!-- 960 Container -->
	<div class="container">
	
		<!-- Portfolio Filter -->
		<div class="sixteen columns">

			<div id="filters">
				<ul class="option-set" data-option-key="filter">
					<li><a href="#filter" class="selected" data-option-value="*">All</a></li>
					<li><a href="#filter" data-option-value=".interior-design">Interior Design</a></li>
					<li><a href="#filter" data-option-value=".architecture">Architecture</a></li>
					<li><a href="#filter" data-option-value=".scenery">Scenery</a></li>
					<li><a href="#filter" data-option-value=".real-estate">Real Estate</a></li>
				</ul>
			</div>
	

		</div><!-- End Portfolio Filter-->

	</div>
	<!-- End 960 Container -->

	<!-- 960 Container -->
	<div class="container">
		<!-- Portfolio Content -->
		<div id="portfolio-wrapper">
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item interior-design architecture real-estate">
					<div class="item-img"><a href="images/portfolio_images/portfolio_3_01_large.jpg" rel="imagebox" title="SockMonkee"><img src="images/portfolio_images/portfolio_3_01.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">SockMonkee</a></h5>
						<p>Sed in velit a justo imperdiet scelerisque ut id leo. Cras quis tellus tellus, viverra varius est. Nulla sed cursus lorem lipsum dolor augue.</p>
					</div>
			</div>

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item scenery">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_02.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Death Shred</a></h5>
						<p>Aenean aliquet pulvinar dui, nec tempus lectus posuere quis. Proin dignissim ligula non nibh ornare tempus dui justo auctor lacus, ac sed justo. </p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item architecture scenery">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_03.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Monster Calendar</a></h5>
						<p>Aenean aliquet pulvinar dui, nec tempus lectus posuere quis. Proin dignissim ligula non nibh ornare tempu sfusce dui lacus, ac egestas ipsum ligula.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item scenery">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_04.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Package Project</a></h5>
						<p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Vivamus gravida aliquet eros.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item interior-design architecture real-estate">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_05.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Prime Art League</a></h5>
						<p>Vivamus sit amet ante in felis lobortis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item scenery">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_06.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Franky Fisticuffs</a></h5>
						<p>Aenean aliquet pulvinar dui, nec tempus lectus posuere quis. Proin dignissim ligula non nibh ornare tempus. Fusce iaculis diam mattis vestibulum.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item interior-design architecture scenery">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_07.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Spaghetti Western</a></h5>
						<p>Donec convallis, elit eget semper fringilla, orci augue posuere nunc, sit amet varius arcu nisl vel sem. Etiam ut metus justo, a dictum massa</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item interior-design architecture">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_08.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Magazine Illustrations</a></h5>
						<p>Donec a congue dui. In hendrerit, libero at feugiat tristique, dui justo auctor lacus, ac egestas ipsum ligula lorem lipsum dolor sit sed justo.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item interior-design architecture real-estate">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_3_09.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Bloomberg Businessweek</a></h5>
						<p>Nulla scelerisque massa vitae lorem consequat lobortis. Nulla condimentum interdum aliquam. Fusce vulputate pretium urna sit amet consequat. </p>
					</div>
			</div>
			
		</div>
		<!-- End Portfolio Content -->
	</div>
	<!-- End 960 Container -->

{% endblock %}