{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>Portfolio <span>/ 2 Columns</span></h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->


	<!-- 960 Container -->
	<div class="container">
	
		<!-- Portfolio Filter -->
		<div class="sixteen columns">

			<div id="filters">
				<ul class="option-set" data-option-key="filter">
					<li><a href="#filter" class="selected" data-option-value="*">All</a></li>
					<li><a href="#filter" data-option-value=".interior-design">Interior Design</a></li>
					<li><a href="#filter" data-option-value=".architecture">Architecture</a></li>
					<li><a href="#filter" data-option-value=".scenery">Scenery</a></li>
					<li><a href="#filter" data-option-value=".real-estate">Real Estate</a></li>
				</ul>
			</div>
	

		</div><!-- End Portfolio Filter-->

	</div>
	<!-- End 960 Container -->

	<!-- 960 Container -->
	<div class="container">
		<!-- Portfolio Content -->
		<div id="portfolio-wrapper">
			
			<!-- 1/2 Column -->
			<div class="eight columns portfolio-item interior-design architecture">
					<div class="item-img"><a href="images/portfolio_images/portfolio_2_01_large.jpg" rel="imagebox" title="Architecture in Melbourne"><img src="images/portfolio_images/portfolio_2_01.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Awesome Calendar</a></h5>
						<p>Aenean aliquet pulvinar dui, nec tempus lectus posuere quis. Proin dignissim ligula non nibh ornare tempus. Fusce iaculis diam mattis vestibulum.</p>
					</div>
			</div>

			<!-- 1/2 Column -->
			<div class="eight columns portfolio-item architecture">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_2_02.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">SockMonkee</a></h5>
						<p>Suspendisse vel leo nec augue dignissim imperdiet. Etiam bibendum metus quis turpis aliquet ut vestibulum arcu gravida. Nulla pellentesque sapien.</p>
					</div>
			</div>
			
			<!-- 1/2 Column -->
			<div class="eight columns portfolio-item interior-design architecture real-estate">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_2_03.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Monster Calendar</a></h5>
						<p>Aenean aliquet pulvinar dui, nec tempus lectus posuere quis. Proin dignissim ligula non nibh ornare tempus. Fusce iaculis diam mattis vestibulum.</p>
					</div>
			</div>
			
			<!-- 1/2 Column -->
			<div class="eight columns portfolio-item scenery real-estate">
					<div class="item-img"><a href="single_project.html"><img src="images/portfolio_images/portfolio_2_04.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Real Estate Application</a></h5>
						<p>Aenean aliquet pulvinar dui, nec tempus lectus posuere quis. Proin dignissim ligula non nibh ornare tempus. Fusce iaculis diam mattis vestibulum.</p>
					</div>
			</div>
			
		</div>
		<!-- End Portfolio Content -->
	</div>
	<!-- End 960 Container -->

{% endblock %}