{% extends "layout.html" %}

{% block body %}


	<!-- 960 Container -->
	<div class="container">
	
		<!-- Portfolio Filter -->
		<div class="sixteen columns">

			<div id="filters">
				<ul class="option-set" data-option-key="filter">
					<li><a href="#filter" class="selected" data-option-value="*">All</a></li>
					<li><a href="#filter" data-option-value=".software-projects">Software</a></li>
					<li><a href="#filter" data-option-value=".business-projects">Business</a></li>
					<li><a href="#filter" data-option-value=".coaching-projects">Coaching</a></li>
				</ul>
			</div>
	

		</div><!-- End Portfolio Filter-->

	</div>
	<!-- End 960 Container -->

	<!-- 960 Container -->
	<div class="container">
		<!-- Portfolio Content -->
		<div id="portfolio-wrapper">

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item software-projects">
					<div class="item-img"><a href="single_project.html"><img src="./static/images/portfolio_images/logo_work_in_progress.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Allergy Project</a></h5>
						<p>Web application captures an individual's allergy profile and provides an easy search tool on related allergy-free products.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item software-projects">
					<div class="item-img"><a href="http://www.sunfinder.io"><img src="./static/images/portfolio_images/sf_results_simple.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="http:http://www.sunfinder.io">Sun Finder</a></h5>
						<p>Micro-climate, easy search solution. Web application that uses RESTful APIs, Postgres, SQLAlchemy, Python, Flask, Javascript, & JQuery.</p>
					</div>
			</div>
			

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item software-projects">
					<div class="item-img"><a href="http://python-trek-2013.herokuapp.com/"><img src="./static/images/portfolio_images/pythontrek.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="http://python-trek-2013.herokuapp.com/">Python Trek</a></h5>
						<p>Markov chain generator built with Ruby on Rails and mashing up Star Trek and Monty Python quotes that are then posted on Twitter <a href="http://twitter.com/pythontrek">(@pythontrek).</a></p>
					</div>
			</div>

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item business-projects">
					<div class="item-img"><img src="./static/images/portfolio_images/portfolio_3_09.jpg" alt=""/><div class="overlay zoom"></div></div>
					<div class="portfolio-item-meta">
						<h5>Business Intelligence</h5>
						<p>Plan on how to approach business intelligence with recommendations on tools and resources to utilize.</p>
					</div>
			</div>

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item business-projects">
					<div class="item-img"><img src="./static/images/portfolio_images/portfolio_3_01.jpg" alt=""/><div class="overlay zoom"></div></div>
					<div class="portfolio-item-meta">
						<h5>Project Management</h5>
						<p>Organize time, resources and budge to manage specific process or technology implementation.</p>
					</div>
			</div>

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item business-projects">
					<div class="item-img"><img src="./static/images/portfolio_images/portfolio_3_03.jpg" alt=""/><div class="overlay zoom"></div></div>
					<div class="portfolio-item-meta">
						<h5>Change & Communication Strategy</h5>
						<p>Plans that map out the key audience, messages and timing of activities and communications to effect the best impact. </p>
					</div>
			</div>

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item coaching-projects">
					<div class="item-img"><img src="./static/images/portfolio_images/start_up.jpg" alt=""/><div class="overlay zoom"></div></div>
					<div class="portfolio-item-meta">
						<h5>Start-up Operations</a></h5>
						<p>Provided direction on operational priorities and established plan to ensure successful business launch. Ensured all areas of business setup were covered and support resources identified and engaged.</p>
					</div>
			</div>
			
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item coaching-projects">
					<div class="item-img"><a href="http://nyghtowl.io/2013/06/20/what-to-do-when-you-are-hacked/">
<!-- 					Image Copywrite Fabio Lanari -->
					<img src="./static/images/portfolio_images/https_security.jpg" alt=""/>
					<div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="http://nyghtowl.io/2013/06/20/what-to-do-when-you-are-hacked/">Personal Internet Security</a></h5>
						<p>Overhauled Internet security settings to ensure https is automatic, vpn software setup, firewalls, backup process and password managemetn solution in place.</p>
					</div>
			</div>
						
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item coaching-projects">
					<div class="item-img"><a href="http://github.com/nyghtowl/Interview_Problems"><img src="./static/images/portfolio_images/fizzbuzz_sample2.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="http://github.com/nyghtowl/Interview_Problems">Interview Problems</a></h5>
						<p>Open-source repository consolidating common interview problems and sample solutions in Python, Ruby & Javascript. At least 15 contributors direct and indirect.</p>
					</div>
			</div>
			

			
		</div>
		<!-- End Portfolio Content -->
	</div>
	<!-- End 960 Container -->

{% endblock %}