<!-- Privacy -->
<div class="">
<h1 class="">Privacy Policy</h1>
<p class="">This Privacy Policy applies to all products and services offered through Wiley & Warrick.</p>
<div class="l-xspace">
<h3>What We Collect and How It's Used</h3>
<ul class="link-list">
<li>
<strong>Information you provide</strong>
When you sign up for or use our services or products, we may request personal information from you. We will not sell this information to others, but may use it to offer you additional products, promotions, or for future development ideas.
</li>
<li>
<strong>Communications</strong>
When you communicate with Wiley & Warrick, through email or other means, we may retain copies or transcripts. These will be used for such things as managing the relationship,responses to your inquiries, suggestions, or ways to improve the quality of our services and products.
</li>
</ul>
</div>
<div class="">
<h3>Sharing Your Information</h3>
<p>Unless we have your permission or applicable laws are being enforced, we will not share your sensitive information.</p>
<p>
Should Wiley & Warrick ever merge with, acquire, or be sold to another company, you will be notified prior to your personal
information being transferred and subjected to a different Privacy Policy.
</p>
</div>
<div class="">
<h3>Security of Your Information</h3>
<p>
Since you provide us with sensitive information, we take every measure possible to protect your information against
unauthorized access or disclosure. Access to your information is restricted to employees or contractors of Wiley & Warrick who are bound by confidentiality obligations and non-disclosure agreements.
</p>
</div>
<div class="">
<h3>Changes</h3>
<p>We may update or change our Privacy Policy as needed and changes will be posted to this site.</p>
</div>
</div>