<!-- Recent Project Partial -->
<div class="twelve columns">
	<h4 class="headline">Recent Work</h4>
	<!-- 1/4 Column -->
	<div class="four columns alpha">
			<div class="item-img"><a href="http://www.sunfinder.io" target="_blank"><img src="./static/images/portfolio_images/sf_results_simple.jpg" alt=""/><div class="overlay zoom"></div></a></div>
			<div class="portfolio-item-meta">
				<h5><a href="http:http://www.sunfinder.io" target="_blank">Sun Finder</a></h5>
				<p>Micro-climate search solution. Web application that uses RESTful APIs, Postgres, SQLAlchemy, Python, Flask, Javascript, & jQuery.</p>
			</div>
	</div>

	<!-- 1/4 Column -->
	<div class="four columns">
			<div class="item-img"><a href="http://github.com/nyghtowl/Interview_Problems" target="_blank"><img src="/static/images/portfolio_images/twilio_logo200.jpg" alt=""/><div class="overlay zoom"></div></a></div>
			<div class="portfolio-item-meta">
				<h5><a href="http://github.com/nyghtowl/Interview_Problems" target="_blank">Twilio Powered SMS Game</a></h5>
				<p>SMS quiz game based on the Twilio API and includes emoji.  The project demos mobile potential that can also easily be added to a website. Text +415.329.6152 to play.</p>
			</div>
	</div>
	
	<!-- 1/4 Column -->
	<div class="four columns omega">
			<div class="item-img"><a href="http://python-trek-2013.herokuapp.com" target="_blank"><img src="./static/images/portfolio_images/pythontrek.jpg" alt=""/><div class="overlay zoom"></div></a></div>
			<div class="portfolio-item-meta">
				<h5><a href="http://python-trek-2013.herokuapp.com" target="_blank">Python Trek</a></h5>
				<p>Markov chain generator built with Ruby on Rails and mashing up Star Trek and Monty Python quotes that are then posted on Twitter.<a href="http://twitter.com/pythontrek" target="_blank">(@pythontrek).</a></p>
			</div>
	</div>
</div>

{% include 'testimonials_partial.html' %}