			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item software-projects">
					<div class="item-img"><a href="#"><img src="./static/images/portfolio_images/logo_work_in_progress.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="#">Allergy Project</a></h5>
						<p>Web application captures an individual's allergy profile and provides an easy search tool on related allergy-free products.</p>
					</div>
			</div>
			
			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item software-projects">
					<div class="item-img"><a href="http://www.sunfinder.io" target="_blank"><img src="/static/images/portfolio_images/sf_results_simple.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="http:http://www.sunfinder.io" target="_blank">Sun Finder</a></h5>
						<p>Micro-climate, easy search solution. Web application that uses RESTful APIs, Postgres, SQLAlchemy, Python, Flask, Javascript, & jQuery.</p>
					</div>
			</div>
			

			<!-- 1/3 Column -->
			<div class="one-third column portfolio-item software-projects">
					<div class="item-img"><a href="http://python-trek-2013.herokuapp.com" target="_blank"><img src="./static/images/portfolio_images/pythontrek.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="http://python-trek-2013.herokuapp.com" target="_blank">Python Trek</a></h5>
						<p>Markov chain generator built with Ruby on Rails and mashing up Star Trek and Monty Python quotes that are then posted on Twitter.<a href="http://twitter.com/pythontrek" target="_blank">(@pythontrek).</a></p>
					</div>
			</div>