{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>Services</h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->

<!-- 960 Container -->
<div class="container">

	<!-- Standard Structure -->
	<div class="eleven columns">
		<h4 class="headline">Methodology</h4>
		<p>Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi.Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. </p>
		<p>Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdietAliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas.</p>
	</div>
	
	<div class="five columns">
		<h4 class="headline">Features</h4>
		<p>
		
		<ul class="check_list">
			<li>Quick and convenient Localization Support</li>
			<li>Compatible with the latest WordPress Version</li>
			<li>Flexible, Responsive Layout</li>
			<li>Compatible with Major Browsers</li>
			<li>Attuned to Smartphones and Tablet PCs</li>
		</ul>
		</p>
	</div>
	<!-- Standard Structure End -->
	
	
	<div class="sixteen columns">
		<h4 class="headline">Our Services</h4>
		<!-- Icon Box Start -->
		<div class="one-third column alpha">		
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_01.png" alt="" /></div>
				<div class="feature-description">
					<h4>Website Design</h4>
					<p>Clean, professional bespoke website produced for clients all over the world.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_02.png" alt="" /></div>
				<div class="feature-description">
					<h4>Website Development </h4>
					<p>Website development with the latest technologies and trends.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_03.png" alt="" /></div>
				<div class="feature-description">
					<h4>Mobile</h4>
					<p>Dedicated site built specifically for Mobile to increase functionality.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
	
		<div class="sixteen columns" style="margin: 2px;"></div>
	
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_04.png" alt="" /></div>
				<div class="feature-description">
					<h4>Search Engine Optimisation</h4>
					<p>Increase your visibility within search engines such as Google and be the first.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_05.png" alt="" /></div>
				<div class="feature-description">
					<h4>Copywriting</h4>
					<p>Need help with words? Our public relations guru can guide you through content.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_06.png" alt="" /></div>
				<div class="feature-description">
					<h4>Social Marketing</h4>
					<p>Our public relations guru can update your Twitter / Facebook on a regular basis.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
	</div>
	
	<!--Info Box Start -->
	<div class="sixteen columns">
		<div class="info-box">
			<div class="info-content">
				<h4>Perfect Premium Template for Showing Your Products</h4>
				<p>Incredible is a responsive HTML template created for corporate and portfolio websites. </p>
			</div>
			<a href="#" class="button medium yellow" style="float: right;">Get a Free Quote Now</a>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Recent Work End -->
	
	
	<!-- Our Clients -->
	<div class="sixteen columns">
		<h4 class="headline">Our Clients</h4>
	</div>
	
	<div class="sixteen columns">
		<ul class="client-logo">
			<li><img src="./static/images/logo_01.png" alt=""/></li>
			<li><img src="./static/images/logo_02.png" alt=""/></li>
			<li><img src="./static/images/logo_03.png" alt=""/></li>
			<li><img src="./static/images/logo_04.png" alt=""/></li>
			<li><img src="./static/images/logo_05.png" alt=""/></li>
		</ul>
	</div>
	<!-- Our Clients End -->
	
	
</div>
<!-- 960 Container End -->


</div>
<!-- End 960 Container -->

{% endblock %}