<!-- Service Summary Partial -->


		<!-- Icon Box Start -->
		<div class="one-third column alpha">		
			<div class="feature">
				<div class="feature-circle green"><img src="./static/images/features_ico_02.png" alt="" /></div>
				<div class="feature-description">
					<h4>Software</h4>
					<p>Quality, professional web applications and dashboards.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column">			
			<div class="feature">
				<div class="feature-circle green"><img src="./static/images/features_ico_04.png" alt="" /></div>
				<div class="feature-description">
					<h4>Business</h4>
					<p>Strategy and operation guidance for project management and communications.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
		<!-- Icon Box Start -->
		<div class="one-third column omega">			
			<div class="feature">
				<div class="feature-circle green"><img src="./static/images/features_ico_06.png" alt="" /></div>
				<div class="feature-description">
					<h4>Coaching</h4>
					<p>Dedicated support to coach on software development and business activities.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
