{% extends "layout.html" %}

{% block body %}


<!-- 960 Container -->
<div class="container">

	<!-- Standard Structure -->

	<div class="ten columns">
		<h4 class="headline">Services</h4>
		<p>

		<h5 id="service_software">Software</h5>
		<p>Providing services and products for web application and data analytics tools. We can help you add functionality or a feature to your existing application or prototype a new concept.<p>
		<ul class="check_list">
			<li>Web Application Development</li>
			<li>Ruby on Rails</li>
			<li>Python & Django</li>
			<li>JavaScript & JQuery</li>
			<li>SQL & Postgres</li>
			<li>Dashboards</li>
			<li>Agile Development Approach</li>
			<li>Flexible, Responsive Layout</li>
			<li>Version Control & Git</li>
		</ul>
			
		
		<h5 id="service_business">Business</h5>
		<p>Providing strategic and operational guidance for business intelligence and communication needs. We can conduct operational and problem due dillegence to provide a recommended strategy. We can also provide project management support systems and operation implementation.</p>
		<ul class="check_list">
			<li>Business Intelligence Strategy</li>
			<li>Change & Communication Strategy Design</li>
			<li>Due Dilligence & Requirements Gathering</li>
			<li>Project Management & Facilitiation</li>
		</ul>

		
		<h5 id="service_coaching">Coaching</h5>
		<p>Providing coaching for project leadership, start-up setup and personal internet security and skills and practices.</p>
		<ul class="check_list">
			<li>Project & Product Management Skills</li>
			<li>Start-up Operational Setup</li>
			<li>Personal Internet Security Practices</li>

		</ul>

		</p>
	</div>



	<div class="six columns">

	</div>

	<!-- Standard Structure End -->
	
	<div class="sixteen columns">
		<h4 class="headline">Services Summary</h4>
		{% include 'service_summary_partial.html' %}
	</div>

	{% include 'call_action_partial.html' %}

	<!-- Recent Work End -->
	

	
</div>
<!-- 960 Container End -->


</div>
<!-- End 960 Container -->

{% endblock %}