<!-- Service Summary Partial -->

		<!-- Icon Box Start -->
		<div class="one-third column">			
			<div class="feature">
				<a href="{{url_for('services')}}#data"><div class="feature-circle green"><img src="./static/images/features_ico_04.png" alt="" /></div>
				<div class="feature-description">
					<h4>Data Science</h4></a>
					<p>Data aquisition and application development. Analysis provided based on project goal.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->

		<!-- Icon Box Start -->
		<div class="one-third column alpha">		
			<div class="feature">
				<a href="{{url_for('services')}}"><div class="feature-circle green"><img src="./static/images/features_ico_02.png" alt="" /></div>
				<div class="feature-description">
					<h4>Websites & Apps</h4></a>
					<p>Responsive designed sites. Adding features, and functionality to new or existing apps.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column omega">			
			<div class="feature">
				<a href="{{url_for('services')}}#coaching"><div class="feature-circle green"><img src="./static/images/features_ico_06.png" alt="" /></div>
				<div class="feature-description">
					<h4>Project Strategy</h4></a>
					<p>Operational guidance for data projects and software development.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
