{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>Shortcodes <span>/ Subtitle</span></h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->


<!-- 960 Container Start -->
<div class="container">
	
	<!-- Buttons
	================================================== -->
	<div class="eight columns">
		<h4 class="headline">Buttons</h4>
				
			<a href="#" class="button medium yellow">Yellow</a>
			<a href="#" class="button medium white">White</a>
			<a href="#" class="button medium black">Black</a> 
			<a href="#" class="button medium red">Red</a>
			<a href="#" class="button medium green">Green</a>
			<a href="#" class="button medium blue">Blue</a> 
			
			<a href="#" class="button medium white"><i class="icon-info-sign"></i> White</a>
			<a href="#" class="button medium black"><i class="icon-user icon-white"></i>Black</a> 
			<a href="#" class="button medium red"><i class="icon-remove icon-white"></i>Red</a>
			<a href="#" class="button medium green"><i class="icon-ok icon-white"></i>Green</a>
			<a href="#" class="button medium blue"><i class="icon-folder-open icon-white"></i>Blue</a> 
			
	</div>
	
	<div class="eight columns">
		<h4 class="headline">Small Buttons</h4>
				
			<a href="#" class="button small yellow">Yellow</a>
			<a href="#" class="button small white">White</a>
			<a href="#" class="button small black">Black</a>
			<a href="#" class="button small yellow">Red</a>
			<a href="#" class="button small white">Green</a>
			<a href="#" class="button small black">Black</a>

			<a href="#" class="button small white"><i class="icon-info-sign"></i> White</a>
			<a href="#" class="button small black"><i class="icon-user icon-white"></i>Black</a> 
			<a href="#" class="button small red"><i class="icon-remove icon-white"></i>Red</a>
			<a href="#" class="button small green"><i class="icon-ok icon-white"></i>Green</a>
			<a href="#" class="button small blue"><i class="icon-folder-open icon-white"></i>Blue</a> 
			
	</div>
	
	<div class="sixteen columns"></div>
	
	<!-- Tooltips
	================================================== -->
	<div class="eight columns">
		<h4 class="headline">Tooltips</h4>
				
			 <div class="tooltips">
				<p>Sed <a href="#" rel="tooltip" title="First Tooltip">adipiscing varius </a> accumsan. Fusce placerat neque sed sapien rutrum laoreet justo ultrices. In pellentesque lorem <a href="#" rel="tooltip" title="Another one here too">condimentum</a> dui consequat adipiscing nisi tincidunt. Morbi pulvinar dui non quam pretium ut lacinia tortor.</p>
			</div>

			<div class="well">
				<a href="#" class="button medium black" rel="popover" title="Custom Title" data-content="And here's some amazing content. It's very engaging, right?"><i class="icon-info-sign icon-white"></i> Hover for Tooltip</a>
			</div>
			
	</div>
	
	<!-- Tabs
	================================================== -->
	
	<div class="eight columns">
		<h4 class="headline">Tabs</h4>

			<!-- Tabs Navigation -->
			<ul class="tabs-nav">
				<li class="active"><a href="#tab1"><i class="icon-exclamation-sign"></i> Tab 1</a></li>
				<li><a href="#tab2"><i class="icon-file"></i>Tab 2</a></li>
				<li><a href="#tab3">Tab 3</a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">
				<div class="tab-content" id="tab1">Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				<div class="tab-content" id="tab2">2. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				<div class="tab-content" id="tab3">3. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.</div>
			</div>

	</div>
	
	<!-- Accordions
	================================================== -->
	<div class="eight columns">
		<h4 class="headline">Accordions</h4>

			<!-- Accordion #1 -->
			<span class="acc-trigger"><a href="#">Accordion #1</a></span>
			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit tortor libero sodales leo, eget blandit nunc tortor eu nibh. Aenean nisl orci lorem, condiment ultrices consequat eu lorem ipsum dolor sit amet inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolor sit amet.</div>
			</div>
				
			<!-- Accordion #2 -->
			<span class="acc-trigger"><a href="#">Accordion #2</a></span>
			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu lorem ipsum dolor sit amet.</div>
			</div>
				
			<!-- Accordion #3 -->
			<span class="acc-trigger"><a href="#">Accordion #3</a></span>
			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu lorem ipsum dolor sit amet.</div>
			</div>

	</div>
	
	<!-- Alert Boxes
	================================================== -->
	<div class="eight columns" style="min-height: 320px;">
		<h4 class="headline">Alert Boxes</h4>

			<div class="notification error closeable">
				<p><span>Error!</span> Please fill in all the fields required.</p>
			</div>

			<div class="notification success closeable">
				<p><span>Success!</span> You did it, now relax and enjoy it.</p>
			</div>

			<div class="notification warning closeable">
				<p><span>Warning!</span> Change this and that and try again.</p>
			</div>

			<div class="notification notice closeable">
				<p><span>Notice!</span> Please edit the information below.</p>
			</div>

	</div>
	
	<!-- Breadcrumbs
	================================================== -->
	<div class="sixteen columns">
		<h4 class="headline">Breadcrumbs</h4>
	
		<ul id="breadcrumbs">
			<li><i class="icon-home"></i></li>
			<li><a href="#">Home</a> <span>/</span></li>
			<li><a href="#">Layouts</a> <span >/</span></li>
			<li class="active">Services</li>
		 </ul>
	
	</div>
	
	<!-- Pagination
	================================================== -->
	<div class="eight columns">
		<h4 class="headline" style="margin-bottom:-15px; padding: 0; border: none;">Pagination</h4>
		 
		<div class="pagination">
			<a href="#" class="prev off"></a>
			<a href="#" class="next"></a>
			<div class="pages">
				<ul>
					<li><a class="current-page" href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>
		</div>
	
	</div>
	
	<!-- Blockquote
	================================================== -->
	<div class="eight columns">
		<h4 class="headline">Blockquote</h4>
		<blockquote>Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed. </blockquote>
	</div>
	
	<!-- Icon Boxes
	================================================== -->
	<div class="sixteen columns">
		<h4 class="headline">Icon Boxes</h4>

		<!-- Icon Box Start -->
		<div class="one-third column alpha">		
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_01.png" alt="" /></div>
				<div class="feature-description">
					<h4>Website Design</h4>
					<p>Clean, professional bespoke website produced for clients all over the world.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_02.png" alt="" /></div>
				<div class="feature-description">
					<h4>Website Development </h4>
					<p>Website development with the latest technologies and trends.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle blue"><img src="./static/images/features_ico_03.png" alt="" /></div>
				<div class="feature-description">
					<h4>Mobile</h4>
					<p>Dedicated site built specifically for Mobile to increase functionality.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
	
		<div class="sixteen columns" style="margin: 2px;"></div>
	
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_04.png" alt="" /></div>
				<div class="feature-description">
					<h4>Search Engine Optimisation</h4>
					<p>Increase your visibility within search engines such as Google and be the first.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->	
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_05.png" alt="" /></div>
				<div class="feature-description">
					<h4>Copywriting</h4>
					<p>Need help with words? Our public relations guru can guide you through content.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
		
		<!-- Icon Box Start -->
		<div class="one-third column alpha">			
			<div class="feature">
				<div class="feature-circle gray"><img src="./static/images/features_ico_06.png" alt="" /></div>
				<div class="feature-description">
					<h4>Social Marketing</h4>
					<p>Our public relations guru can update your Twitter / Facebook on a regular basis.</p>
				</div>
			</div>
		</div>
		<!-- Icon Box End -->
	</div>
	
	
	<!-- List Styles
	================================================== -->
	<div class="four columns">
		<h4 class="headline">List Styles</h4>

			<ul class="check_list"><li>Check List - Lorem ipsum aperia</li></ul>
			<ul class="plus_list"><li>Plus List - Dolor beatae lorem</li></ul>
			<ul class="minus_list"><li>Minus List - Perspiciatis adipiscing</li></ul>
			<ul class="star_list"><li>Star List - Lorem ipsum aperia</li></ul>
			<ul class="arrow_list"><li>Arrow 2 List - Dolor beatae lorem</li></ul>
			<ul class="square_list"><li>Square List - Perspiciatis adipiscing</li></ul>
			<ul class="circle_list"><li>Circle List - Lorem ipsum aperia</li></ul>
			<ul class="cross_list"><li>Cross List - Dolor beatae lorem</li></ul>
		
	</div>
	
	<!-- Large Notice
	================================================== -->
	<div class="twelve columns">
		<h4 class="headline">Large Notice</h4>
		
		<!-- Large Notice -->
		<div class="large-notice">
			<h2>This is a Headline</h2>
			<p>This is a example of style component for calling extra attention to featured content or information. 
			Adipiscing elit. Cras eu nisl quam. Cras in elit a massa fermentum bibendum.</p>
			<a href="#" class="button medium yellow">Read More</a>
		</div>
		
	</div>
	
	
	<!-- Table
	================================================== -->
	<div class="sixteen columns">
		<h4 class="headline">Table</h4>
		
			<table class="standard-table">

				<tr>
					<th>Header 1</th>
					<th>Header 2</th>
					<th>Header 3</th>
					<th>Header 4</th>
				</tr>

				<tr>
					<td>Item #1</td>
					<td>Description</td>
					<td>100 GB</td>
					<td>100 GB</td>
				</tr>
				
				<tr>
					<td>Item #2</td>
					<td>Description</td>
					<td>200 GB</td>
					<td>200 GB</td>
				</tr>
				
				<tr>
					<td>Item #3</td>
					<td>Description</td>
					<td>300 GB</td>
					<td>300 GB</td>
				</tr>
				
				<tr>
					<td>Item #4</td>
					<td>Description</td>
					<td>400 GB</td>
					<td>400 GB</td>
				</tr>
				
				<tr>
					<td>Item #5</td>
					<td>Description</td>
					<td>500 GB</td>
					<td>500 GB</td>
				</tr>

			</table>
		
	</div>

	<!-- Social Icons
	================================================== -->
	<div class="sixteen columns">
		<h4 class="headline">Social Icons</h4>
		
		<!-- Social Widget Start -->
		<div id="social" class="tooltips">
			<a href="#" rel="tooltip" title="RSS"><img src="./static/images/social_icons/rss.png" alt="RSS" /></a>
			<a href="#" rel="tooltip" title="Twitter"><img src="./static/images/social_icons/twitter.png" alt="Twitter" /></a>
			<a href="#" rel="tooltip" title="Facebook"><img src="./static/images/social_icons/facebook.png" alt="Facebook" /></a>
			<a href="#" rel="tooltip" title="Dribbble"><img src="./static/images/social_icons/dribbble.png" alt="Dribbble" /></a>
			<a href="#" rel="tooltip" title="Flickr"><img src="./static/images/social_icons/flickr.png" alt="Flickr" /></a>
			<a href="#" rel="tooltip" title="LinkedIn"><img src="./static/images/social_icons/linkedin.png" alt="LinkedIn" /></a>
			<a href="#" rel="tooltip" title="LastFM"><img src="./static/images/social_icons/lastfm.png" alt="LastFM" /></a>
			<a href="#" rel="tooltip" title="Skype"><img src="./static/images/social_icons/skype.png" alt="Skype" /></a>
			<a href="#" rel="tooltip" title="Newsvine"><img src="./static/images/social_icons/newsvine.png" alt="Newsvine" /></a>
			<a href="#" rel="tooltip" title="Vimeo"><img src="./static/images/social_icons/vimeo.png" alt="Vimeo" /></a>
			<a href="#" rel="tooltip" title="Apple"><img src="./static/images/social_icons/apple.png" alt="Apple" /></a>
			<a href="#" rel="tooltip" title="Google Plus"><img src="./static/images/social_icons/googleplus.png" alt="Google Plus" /></a>
			<a href="#" rel="tooltip" title="YouTube"><img src="./static/images/social_icons/youtube.png" alt="YouTube" /></a>
			<a href="#" rel="tooltip" title="FeedBurner" ><img src="./static/images/social_icons/feedburner.png" alt="FeedBurner" /></a>
			<a href="#" rel="tooltip" title="Digg"><img src="./static/images/social_icons/digg.png" alt="Digg" /></a>
			<a href="#" rel="tooltip" title="WordPress"><img src="./static/images/social_icons/wordpress.png" alt="WordPress" /></a>
			<a href="#" rel="tooltip" title="Tumblr"><img src="./static/images/social_icons/tumblr.png" alt="Tumblr" /></a>
			<a href="#" rel="tooltip" title="ShareIt"><img src="./static/images/social_icons/sharethis.png" alt="ShareThis" /></a>
			<a href="#" rel="tooltip" title="DeviantArt"><img src="./static/images/social_icons/deviantart.png" alt="DeviantArt" /></a>
			<a href="#" rel="tooltip" title="Blogger"><img src="./static/images/social_icons/blogger.png" alt="Blogger" /></a>
			<a href="#" rel="tooltip" title="Forrst"><img src="./static/images/social_icons/forrst.png" alt="Forrst" /></a>
			<a href="#" rel="tooltip" title="Contact"><img src="./static/images/social_icons/mail.png" alt="Contact" /></a>
		</div>
		<!-- Social Widget End-->
		
	</div>
	
	<!-- Icons
	================================================== -->
	<div class="sixteen columns">
		<h4 class="headline">Icons <span>To use small icons, place the following code just about anywhere: <code>&lt;i class="icon-search icon-white"&gt;&lt;/i&gt;</code></span><div class="clearfix"></div></h4>
	</div>
    <div class="four columns">
      <ul class="the-icons">
        <li><i class="icon-glass"></i> icon-glass</li>
        <li><i class="icon-music"></i> icon-music</li>
        <li><i class="icon-search"></i> icon-search</li>
        <li><i class="icon-envelope"></i> icon-envelope</li>
        <li><i class="icon-heart"></i> icon-heart</li>
        <li><i class="icon-star"></i> icon-star</li>
        <li><i class="icon-star-empty"></i> icon-star-empty</li>
        <li><i class="icon-user"></i> icon-user</li>
        <li><i class="icon-film"></i> icon-film</li>
        <li><i class="icon-th-large"></i> icon-th-large</li>
        <li><i class="icon-th"></i> icon-th</li>
        <li><i class="icon-th-list"></i> icon-th-list</li>
        <li><i class="icon-ok"></i> icon-ok</li>
        <li><i class="icon-remove"></i> icon-remove</li>
        <li><i class="icon-zoom-in"></i> icon-zoom-in</li>
        <li><i class="icon-zoom-out"></i> icon-zoom-out</li>
        <li><i class="icon-off"></i> icon-off</li>
        <li><i class="icon-signal"></i> icon-signal</li>
        <li><i class="icon-cog"></i> icon-cog</li>
        <li><i class="icon-trash"></i> icon-trash</li>
        <li><i class="icon-home"></i> icon-home</li>
        <li><i class="icon-file"></i> icon-file</li>
        <li><i class="icon-time"></i> icon-time</li>
        <li><i class="icon-road"></i> icon-road</li>
        <li><i class="icon-download-alt"></i> icon-download-alt</li>
        <li><i class="icon-download"></i> icon-download</li>
        <li><i class="icon-upload"></i> icon-upload</li>
        <li><i class="icon-inbox"></i> icon-inbox</li>
        <li><i class="icon-play-circle"></i> icon-play-circle</li>
        <li><i class="icon-repeat"></i> icon-repeat</li>
        <li><i class="icon-refresh"></i> icon-refresh</li>
        <li><i class="icon-list-alt"></i> icon-list-alt</li>
        <li><i class="icon-lock"></i> icon-lock</li>
        <li><i class="icon-flag"></i> icon-flag</li>
        <li><i class="icon-headphones"></i> icon-headphones</li>
      </ul>
    </div>
    <div class="four columns">
      <ul class="the-icons">
        <li><i class="icon-volume-off"></i> icon-volume-off</li>
        <li><i class="icon-volume-down"></i> icon-volume-down</li>
        <li><i class="icon-volume-up"></i> icon-volume-up</li>
        <li><i class="icon-qrcode"></i> icon-qrcode</li>
        <li><i class="icon-barcode"></i> icon-barcode</li>
        <li><i class="icon-tag"></i> icon-tag</li>
        <li><i class="icon-tags"></i> icon-tags</li>
        <li><i class="icon-book"></i> icon-book</li>
        <li><i class="icon-bookmark"></i> icon-bookmark</li>
        <li><i class="icon-print"></i> icon-print</li>
        <li><i class="icon-camera"></i> icon-camera</li>
        <li><i class="icon-font"></i> icon-font</li>
        <li><i class="icon-bold"></i> icon-bold</li>
        <li><i class="icon-italic"></i> icon-italic</li>
        <li><i class="icon-text-height"></i> icon-text-height</li>
        <li><i class="icon-text-width"></i> icon-text-width</li>
        <li><i class="icon-align-left"></i> icon-align-left</li>
        <li><i class="icon-align-center"></i> icon-align-center</li>
        <li><i class="icon-align-right"></i> icon-align-right</li>
        <li><i class="icon-align-justify"></i> icon-align-justify</li>
        <li><i class="icon-list"></i> icon-list</li>
        <li><i class="icon-indent-left"></i> icon-indent-left</li>
        <li><i class="icon-indent-right"></i> icon-indent-right</li>
        <li><i class="icon-facetime-video"></i> icon-facetime-video</li>
        <li><i class="icon-picture"></i> icon-picture</li>
        <li><i class="icon-pencil"></i> icon-pencil</li>
        <li><i class="icon-map-marker"></i> icon-map-marker</li>
        <li><i class="icon-adjust"></i> icon-adjust</li>
        <li><i class="icon-tint"></i> icon-tint</li>
        <li><i class="icon-edit"></i> icon-edit</li>
        <li><i class="icon-share"></i> icon-share</li>
        <li><i class="icon-check"></i> icon-check</li>
        <li><i class="icon-move"></i> icon-move</li>
        <li><i class="icon-step-backward"></i> icon-step-backward</li>
        <li><i class="icon-fast-backward"></i> icon-fast-backward</li>
      </ul>
    </div>
    <div class="four columns">
      <ul class="the-icons">
        <li><i class="icon-backward"></i> icon-backward</li>
        <li><i class="icon-play"></i> icon-play</li>
        <li><i class="icon-pause"></i> icon-pause</li>
        <li><i class="icon-stop"></i> icon-stop</li>
        <li><i class="icon-forward"></i> icon-forward</li>
        <li><i class="icon-fast-forward"></i> icon-fast-forward</li>
        <li><i class="icon-step-forward"></i> icon-step-forward</li>
        <li><i class="icon-eject"></i> icon-eject</li>
        <li><i class="icon-chevron-left"></i> icon-chevron-left</li>
        <li><i class="icon-chevron-right"></i> icon-chevron-right</li>
        <li><i class="icon-plus-sign"></i> icon-plus-sign</li>
        <li><i class="icon-minus-sign"></i> icon-minus-sign</li>
        <li><i class="icon-remove-sign"></i> icon-remove-sign</li>
        <li><i class="icon-ok-sign"></i> icon-ok-sign</li>
        <li><i class="icon-question-sign"></i> icon-question-sign</li>
        <li><i class="icon-info-sign"></i> icon-info-sign</li>
        <li><i class="icon-screenshot"></i> icon-screenshot</li>
        <li><i class="icon-remove-circle"></i> icon-remove-circle</li>
        <li><i class="icon-ok-circle"></i> icon-ok-circle</li>
        <li><i class="icon-ban-circle"></i> icon-ban-circle</li>
        <li><i class="icon-arrow-left"></i> icon-arrow-left</li>
        <li><i class="icon-arrow-right"></i> icon-arrow-right</li>
        <li><i class="icon-arrow-up"></i> icon-arrow-up</li>
        <li><i class="icon-arrow-down"></i> icon-arrow-down</li>
        <li><i class="icon-share-alt"></i> icon-share-alt</li>
        <li><i class="icon-resize-full"></i> icon-resize-full</li>
        <li><i class="icon-resize-small"></i> icon-resize-small</li>
        <li><i class="icon-plus"></i> icon-plus</li>
        <li><i class="icon-minus"></i> icon-minus</li>
        <li><i class="icon-asterisk"></i> icon-asterisk</li>
        <li><i class="icon-exclamation-sign"></i> icon-exclamation-sign</li>
        <li><i class="icon-gift"></i> icon-gift</li>
        <li><i class="icon-leaf"></i> icon-leaf</li>
        <li><i class="icon-fire"></i> icon-fire</li>
        <li><i class="icon-eye-open"></i> icon-eye-open</li>
      </ul>
    </div>
    <div class="four columns">
      <ul class="the-icons">
        <li><i class="icon-eye-close"></i> icon-eye-close</li>
        <li><i class="icon-warning-sign"></i> icon-warning-sign</li>
        <li><i class="icon-plane"></i> icon-plane</li>
        <li><i class="icon-calendar"></i> icon-calendar</li>
        <li><i class="icon-random"></i> icon-random</li>
        <li><i class="icon-comment"></i> icon-comment</li>
        <li><i class="icon-magnet"></i> icon-magnet</li>
        <li><i class="icon-chevron-up"></i> icon-chevron-up</li>
        <li><i class="icon-chevron-down"></i> icon-chevron-down</li>
        <li><i class="icon-retweet"></i> icon-retweet</li>
        <li><i class="icon-shopping-cart"></i> icon-shopping-cart</li>
        <li><i class="icon-folder-close"></i> icon-folder-close</li>
        <li><i class="icon-folder-open"></i> icon-folder-open</li>
        <li><i class="icon-resize-vertical"></i> icon-resize-vertical</li>
        <li><i class="icon-resize-horizontal"></i> icon-resize-horizontal</li>
        <li><i class="icon-hdd"></i> icon-hdd</li>
        <li><i class="icon-bullhorn"></i> icon-bullhorn</li>
        <li><i class="icon-bell"></i> icon-bell</li>
        <li><i class="icon-certificate"></i> icon-certificate</li>
        <li><i class="icon-thumbs-up"></i> icon-thumbs-up</li>
        <li><i class="icon-thumbs-down"></i> icon-thumbs-down</li>
        <li><i class="icon-hand-right"></i> icon-hand-right</li>
        <li><i class="icon-hand-left"></i> icon-hand-left</li>
        <li><i class="icon-hand-up"></i> icon-hand-up</li>
        <li><i class="icon-hand-down"></i> icon-hand-down</li>
        <li><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</li>
        <li><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</li>
        <li><i class="icon-circle-arrow-up"></i> icon-circle-arrow-up</li>
        <li><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</li>
        <li><i class="icon-globe"></i> icon-globe</li>
        <li><i class="icon-wrench"></i> icon-wrench</li>
        <li><i class="icon-tasks"></i> icon-tasks</li>
        <li><i class="icon-filter"></i> icon-filter</li>
        <li><i class="icon-briefcase"></i> icon-briefcase</li>
        <li><i class="icon-fullscreen"></i> icon-fullscreen</li>
      </ul>
    </div>
	
</div>
<!-- 960 Container End -->

{% endblock %}