{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>Page <span>/ Sidebar Left</span></h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->


<!-- 960 Container -->
<div class="container">
<!-- Sidebar
================================================== -->
<div class="five columns">
	<div class="sidebar">
		<!-- Search -->
		<div class="search">
			<input type="text" onblur="if(this.value=='')this.value='To search type and hit enter';" onfocus="if(this.value=='To search type and hit enter')this.value='';" value="To search type and hit enter" class="text"/>
		</div>
		
		<!-- Categories -->
		<div class="widget">
			<h5>Custom Menu</h5>
			<ul class="categories">
				<li><a href="#">Services</a></li>
				<li><a href="#">Theme Options</a></li>
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Blog & Posts</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		
		<!-- Flickr -->
		<div class="widget">
			<h5>Flickr</h5>
				<div class="flickr-widget-blog">
					<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=36587311@N08"></script>
					<div class="clearfix"></div>
				</div>
		</div>
		
	<!-- Social Media -->
	<div class="widget">
		<h5>Social Media</h4>
			<p>
			<div id="social" class="tooltips">
				<a href="#" rel="tooltip" title="Facebook"><img src="images/social_icons/facebook.png" alt="Facebook" /></a>
				<a href="#" rel="tooltip" title="Flickr"><img src="images/social_icons/flickr.png" alt="Flickr" /></a>
				<a href="#" rel="tooltip" title="LinkedIn"><img src="images/social_icons/linkedin.png" alt="LinkedIn" /></a>
				<a href="#" rel="tooltip" title="Google Plus"><img src="images/social_icons/googleplus.png" alt="Google Plus" /></a>
				<a href="#" rel="tooltip" title="Contact"><img src="images/social_icons/mail.png" alt="Contact" /></a>
			</div>
			</p>
			<div class="clearfix"></div>
	</div>
	
	</div>
</div>

<!-- Content
================================================== -->
<div class="eleven columns">
	<h4 class="headline">Page Template</h4>
	<p><img class="image-right" src="images/portfolio_images/portfolio_3_01.jpg" alt="" />
	Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc magna nisi.Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh.</p>
	<p>Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem mattis  lore Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas nullam vitae neque luctus. Omassa risus eget arcu. Sed ac porta felis. Vivamus dignissim varius augue ut tempor. Proin urna diam ras venenatis, eros id congue pellent esque, risus leo. Proin urna diam ras venenatis, eros id congue pellent esque, risus leo.Donec quam felis, ultricies nec, pellentesque pretium quis, sem. Nulla consequat massa quis enim. Donec pe justo fringilla vel, aliquet nec vulputate eget, arcu enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felisa penelore mollis pretium. </p>


	<div class="eleven columns alpha">
		<h4 class="headline">Custom Subtitle</h4>
		
			<div class="one-third column alpha">
				<!-- Icon Box Start -->
				<div class="one-third column alpha">		
					<div class="feature">
						<div class="feature-circle blue"><img src="images/features_ico_01.png" alt="" /></div>
						<div class="feature-description">
							<h4>Website Design</h4>
							<p>Clean, professional bespoke website produced for clients all over the world.</p>
						</div>
					</div>
				</div>
				<!-- Icon Box End -->
			</div>

			<div class="one-third column">
				<!-- Icon Box Start -->
				<div class="one-third column alpha">			
					<div class="feature">
						<div class="feature-circle blue"><img src="images/features_ico_02.png" alt="" /></div>
						<div class="feature-description">
							<h4>Website Development </h4>
							<p>Website development with the latest technologies and trends.</p>
						</div>
					</div>
				</div>
				<!-- Icon Box End -->
			</div>
			
		<div class="eleven columns alpha">
		
				<!-- Icon Box Start -->
				<div class="one-third column alpha">			
					<div class="feature">
						<div class="feature-circle gray"><img src="images/features_ico_05.png" alt="" /></div>
						<div class="feature-description">
							<h4>Copywriting</h4>
							<p>Need help with words? Our public relations guru can guide you through content.</p>
						</div>
					</div>
				</div>
				<!-- Icon Box End -->
				
				<!-- Icon Box Start -->
				<div class="one-third column ">			
					<div class="feature">
						<div class="feature-circle gray"><img src="images/features_ico_06.png" alt="" /></div>
						<div class="feature-description">
							<h4>Social Marketing</h4>
							<p>Our public relations guru can update your Twitter / Facebook on a regular basis.</p>
						</div>
					</div>
				</div>
				<!-- Icon Box End -->
				
		</div>

	</div>
	<div class="clearfix"></div>

		<h4 class="headline">Custom Subtitle</h4>
			<!-- Accordion #1 -->
			<span class="acc-trigger"><a href="#">Accordion #1</a></span>
			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit tortor libero sodales leo, eget blandit nunc tortor eu nibh. Aenean nisl orci lorem, condiment ultrices consequat eu lorem ipsum dolor sit amet inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolor sit amet.</div>
			</div>
				
			<!-- Accordion #2 -->
			<span class="acc-trigger"><a href="#">Accordion #2</a></span>
			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu lorem ipsum dolor sit amet.</div>
			</div>
				
			<!-- Accordion #3 -->
			<span class="acc-trigger"><a href="#">Accordion #3</a></span>
			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu lorem ipsum dolor sit amet.</div>
			</div>

</div>


</div>
<!-- End 960 Container -->

{% endblock %}