{% extends "layout.html" %}

{% block body %}

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
			<h2>Portfolio <span>/ Single Project</span></h2>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->

	
	<!-- 960 Container -->
	<div class="container">
	
		<!-- Project Title -->
		<div class="sixteen columns">
			<h4 class="headline">Franky Fisticuffs</h4>

			<div class="project-nav">
				<a href="#" class="next"></a>
				<a href="#" class="prev off"></a>
			</div>
			
		</div>
		<!-- End Project Title-->

		<!-- Slider -->
		<div class="twelve columns">
			<div class="project">
				<div class="flexslider">
					<ul class="slides">
						<li><a href="./static/images/portfolio_images/portfolio_3_03_large.jpg" rel="imagebox[gallery]" title="Consecteturus purus sit amet fermentum"><img src="./static/images/portfolio_images/portfolio_3_03_large.jpg" alt="" /><div class="overlay zoom"></div></a></li>
						<li><a href="./static/images/portfolio_images/portfolio_3_01_large.jpg" rel="imagebox[gallery]" title="Donec seid odio dui. Nullalit libero, alea pharetra augue."><img src="./static/images/portfolio_images/portfolio_3_01_large.jpg" alt="" /><div class="overlay zoom"></div></a></li>
						<li><a href="./static/images/portfolio_images/portfolio_3_02_large.jpg" rel="imagebox[gallery]" title="Bendum nulla sedeas consectetur"><img src="./static/images/portfolio_images/portfolio_3_02_large.jpg" alt="" /><div class="overlay zoom"></div></a></li>
					 </ul>
				</div>
			</div>
		</div>
		
		<div class="four columns">
		
				<h5 class="headline">About Project</h5>
				<p class="tooltips">Donec seid odio dui. Nullalit libero, alea pharetra augue. Nullam id dolor ideacto vehicula <a href="http://sockmonkee.bigcartel.com/" rel="tooltip" title="Shirts and prints by Chris Sandlin">SockMonkee</a> lorem dolor.</p>
				<p>Aenean lacinia bibendum nulla sedeas consectetur. Cras mattis consecteturus purus sit amet fermentum. Donec elite non mi porta gravida at eget metus.</p>
			
				<h5 class="headline">Job Description</h5>
				<ul class="check_list">
					<li>HTML/CSS</li>
					<li>Interface Design</li>
					<li>Information Architecture</li>
					<li>Implementation to WordPress</li>
				</ul>
				<br/>
				<a href="#" class="button medium yellow">Launch Project</a>
			
		</div>

	</div>
	<!-- End 960 Container -->

	<!-- 960 Container -->
	<div class="container">
		<!-- Portfolio Content -->
		
			<div class="sixteen columns">
				<h4 class="headline">Reated Projects</h4>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item scenery">
					<div class="item-img"><a href="./static/images/portfolio_images/portfolio_3_06_large.jpg"><img src="./static/images/portfolio_images/portfolio_3_06.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Franky Fisticuffs</a></h5>
						<p>Mauris sit amet ligula eget conseact etur lectus. Maecenas hendrerit lorem, suscipit sollicitudinid dolor mauris.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture">
					<div class="item-img"><a href="./static/images/portfolio_images/portfolio_3_08_large.jpg"><img src="./static/images/portfolio_images/portfolio_3_08.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Magazine Illustrations</a></h5>
						<p>Mauris sit amet ligula eget conseact etur lectus. Maecenas hendrerit lorem, suscipit sollicitudinid dolor mauris.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item scenery">
					<div class="item-img"><a href="./static/images/portfolio_images/portfolio_3_04_large.jpg"><img src="./static/images/portfolio_images/portfolio_3_04.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Package Project</a></h5>
						<p>Mauris sit amet ligula eget conseact etur lectus. Maecenas hendrerit lorem, suscipit sollicitudinid dolor mauris.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture real-estate">
					<div class="item-img"><a href="./static/images/portfolio_images/portfolio_3_09_large.jpg"><img src="./static/images/portfolio_images/portfolio_3_09.jpg" alt=""/><div class="overlay zoom"></div></a></div>
					<div class="portfolio-item-meta">
						<h5><a href="single_project.html">Bloomberg Businessweek</a></h5>
						<p>Mauris sit amet ligula eget conseact etur lectus. Maecenas hendrerit lorem, suscipit sollicitudinid dolor mauris.</p>
					</div>
			</div>

	</div>
	<!-- End 960 Container -->

{% endblock %}