	<!-- Testimonials Partial -->
	<div class="four columns">
		<h4 class="headline">Testimonials</h4>
		
			<!-- Testimonials Carousel -->
			<div class="testimonials-carousel">
				<ul class="carousel">
				
					<li class="testimonial">
						<div class="testimonials">Posuere erat a ante venenatis dapibus posuere velit aliquet. Duis llis, est non coeammodo luctus, nisi erat porttitor ligula, egeteas laciniato odiomo sem.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Michael, <span>Flash Developer</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Integer eu libero sit amet nisl vestibulum semper. Fusce nec porttitor massa. In nec neque elit. Curabitur malesuada ligula vitae purus ornare onec etea magna diam varius.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">John, <span>Web Developer</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Cras sed odio est, sit amet porttitor elit. Vestibulum elementum erat vitae ante venenatis cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Peter, <span>Project Manager</span></div>
					</li>
					
					<li class="testimonial">
						<div class="testimonials">Elementum erat vitae ante venenatis dapibus. Maecenas cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
						<div class="testimonials_bg"></div>
						<div class="testimonials_author">Kathy, <span>Art Director</span></div>
					</li>
					
				</ul>
			</div>
			
	</div>