<!-- Testimonials Partial -->
<div class="four columns">
	<h4 class="headline">Testimonials</h4>
	
		<!-- Testimonials Carousel -->
		<div class="testimonials-carousel">
			<ul class="carousel">
			
				<li class="testimonial">
					<div class="testimonials">Working with Wiley & Warrick is incredibly easy. I worked with them to build a Python application. In addition to their prompt development, they impressed me further with their project coaching skills.</div>
					<div class="testimonials_bg"></div>
					<div class="testimonials_author">ThoaLinh, <span>Atlassian Global Channel Program Manager</span></div>
				</li>
				
					<li class="testimonial">
					<div class="testimonials">Exceptional talent that adds significant strength and value to any organization. Unfailing and reliable with a systematic and rational approach to operational intelligence.</div>
					<div class="testimonials_bg"></div>
					<div class="testimonials_author">Norman, <span>Optum Sr. VP</span></div>
				</li>
<!-- 				
				<li class="testimonial">
					<div class="testimonials">Cras sed odio est, sit amet porttitor elit. Vestibulum elementum erat vitae ante venenatis cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
					<div class="testimonials_bg"></div>
					<div class="testimonials_author">Peter, <span>Project Manager</span></div>
				</li>
				
				<li class="testimonial">
					<div class="testimonials">Elementum erat vitae ante venenatis dapibus. Maecenas cursus scelerisque quam vel nibh imperdiet vitae porta lorem posuere.</div>
					<div class="testimonials_bg"></div>
					<div class="testimonials_author">Kathy, <span>Art Director</span></div>
				</li>
			 -->	
			</ul>
		</div>
		
</div>