<!-- Terms of Service -->

<div class="">
<h1 class="">Terms of Use</h1>
<p class="">By using the WileyWarrick.com website ("Service"), or any services of Wiley & Warrick, you agree to be bound by the following terms and conditions ("Terms of Use").</p>
<div class="">
<h2>Our Relationship</h2>
<ul class="">
<li>By using our products and services, you agree to comply with the Terms of Use listed here as well as our Privacy Policy.</li>
<li>We agree to do our absolute best to provide you with quality services. In return, you agree to refrain from activity that interferes with or prohibits us from providing these services to you.</li>
<li>We reserve the right to terminate business or stop providing products and services should you violate our Terms of Use.</li>
<li>Should you decide you no longer want to use our products, you can terminate your agreement at any time by sending a request in writing.</li>
<li>If you're not satisfied with our services, or find that it fails to meet your needs, we will gladly refund your last payment. </li>
</ul>
</div>
<div class="">
<h2>Your Responsibilities</h2>
<ul class="">
<li>You must ensure your account information remains accurate.</li>
<li>We will not be liable for decisions you make or your actions beyond the scope of our services and products.</li>
<li>You may not use the services or products provided for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including copyright or trademark laws).</li>
<li>Our products are for your use. We work hard to provide you with a quality product and expect that you won't try to resell, copy, or make our products available to others without our written permission. If you love our product enough to pass it along, please just ask us for permission.</li>
</ul>
</div>
<div class="">
<h2>Our Services</h2>
<ul class="">
<li>We consistently add to and improve our products and services. We may update, add, or remove products without prior notice.</li>
<li>We strive to provide you with an exceptional customer experience and are always open to suggestions, comments, and feedback.</li>
<li>We work diligently to make sure our products and services are available and reliable. Because of the nature of our business, this is not something we can always control or guarantee.</li>
</ul>
</div>
<div class="l-xspace">
<h2>Copyright</h2>
<ol class="link-list numbered">
<li>The look and feel of the Service is Copyright ©2012 Wiley & Warrick. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without the express written permission from Wiley & Warrick.</li>
</ol>

<p class="l-xspace">
Last updated on
<strong>September 13, 2013.</strong>
Inspired by the <a href=""> Terms of Service</a>.
</p>
</div>